In [ ]:
#pip install -r "../requirements.txt" -qq

In [8]:
import pandas as pd
import numpy as np

In [38]:
import pandas as pd

DATA_PATH = 'C:/Users/campus3S031/Desktop/iM뱅크 프로젝트용 데이터/'
csv_names = [
    'iMBANK_CARD_DATA_2021(K-DigitalTraining).csv', 
    'iMBANK_CARD_DATA_2022(K-DigitalTraining).csv', 
    'iMBANK_CARD_DATA_2023(K-DigitalTraining).csv', 
    'iMBANK_CUSTOMER_DATA_2021(K-DigitalTraining).csv', 
    'iMBANK_CUSTOMER_DATA_2022(K-DigitalTraining).csv', 
    'iMBANK_CUSTOMER_DATA_2023(K-DigitalTraining).csv'
    ]
datasets = {}
def read_data(csv_names):
    for i in range(len(csv_names)):
        datasets[f"data_{i+1}"] = pd.read_csv(f"{DATA_PATH}{csv_names[i]}", encoding='cp949')

        print(f'data input complete! : {csv_names[i]} as data_{i+1}')
    print('All data read complete!')

read_data(csv_names)

In [39]:
read_data(csv_names)

data input complete! : iMBANK_CARD_DATA_2021(K-DigitalTraining).csv as data_1
data input complete! : iMBANK_CARD_DATA_2022(K-DigitalTraining).csv as data_2
data input complete! : iMBANK_CARD_DATA_2023(K-DigitalTraining).csv as data_3
data input complete! : iMBANK_CUSTOMER_DATA_2021(K-DigitalTraining).csv as data_4
data input complete! : iMBANK_CUSTOMER_DATA_2022(K-DigitalTraining).csv as data_5
data input complete! : iMBANK_CUSTOMER_DATA_2023(K-DigitalTraining).csv as data_6

# 다 읽어왔다!

In [45]:
datasets['data_1'].describe()

               거래년월          고객ID          승인금액
count  6.067264e+07  6.067264e+07  6.067264e+07
mean   2.021066e+05  6.677297e+09  5.299210e+04
std    3.417087e+00  1.886250e+09  1.454830e+05
min    2.021010e+05  2.800789e+09  1.000000e+04
25%    2.021040e+05  5.095210e+09  1.000000e+04
50%    2.021070e+05  6.702004e+09  2.000000e+04
75%    2.021100e+05  8.280529e+09  5.000000e+04
max    2.021120e+05  9.999998e+09  9.900000e+06

In [46]:
datasets['data_4'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20835992 entries, 0 to 20835991
Data columns (total 13 columns):
 #   Column    Dtype
---  ------    -----
 0   기준년월      int64
 1   고객ID      int64
 2   연령대       object
 3   성별        object
 4   고객등급      object
 5   자택_시도     object
 6   자택_시군구    object
 7   수신_요구불예금  int64
 8   수신_거치식예금  int64
 9   수신_적립식예금  int64
 10  수신_펀드     int64
 11  수신_외화예금   int64
 12  대출금액      int64
dtypes: int64(8), object(5)
memory usage: 2.0+ GB