In [1]:
#pip install -r "../requirements.txt" -qq

In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd

DATA_PATH = 'C:/Users/campus3S031/Desktop/iM뱅크 프로젝트용 데이터/'
csv_names = [
    'iMBANK_CARD_DATA_2021(K-DigitalTraining).csv', 
    'iMBANK_CARD_DATA_2022(K-DigitalTraining).csv', 
    'iMBANK_CARD_DATA_2023(K-DigitalTraining).csv', 
    'iMBANK_CUSTOMER_DATA_2021(K-DigitalTraining).csv', 
    'iMBANK_CUSTOMER_DATA_2022(K-DigitalTraining).csv', 
    'iMBANK_CUSTOMER_DATA_2023(K-DigitalTraining).csv'
    ]
datasets = {}
def read_data(csv_names):
    for i in range(len(csv_names)):
        datasets[f"data_{i+1}"] = pd.read_csv(f"{DATA_PATH}{csv_names[i]}", encoding='cp949')

        print(f'data input complete! : {csv_names[i]} as data_{i+1}')
    print('All data read complete!')

read_data(csv_names)

data input complete! : iMBANK_CARD_DATA_2021(K-DigitalTraining).csv as data_1
data input complete! : iMBANK_CARD_DATA_2022(K-DigitalTraining).csv as data_2
data input complete! : iMBANK_CARD_DATA_2023(K-DigitalTraining).csv as data_3
data input complete! : iMBANK_CUSTOMER_DATA_2021(K-DigitalTraining).csv as data_4
data input complete! : iMBANK_CUSTOMER_DATA_2022(K-DigitalTraining).csv as data_5
data input complete! : iMBANK_CUSTOMER_DATA_2023(K-DigitalTraining).csv as data_6
All data read complete!

In [ ]:
#read_data(csv_names)

# 다 읽어왔다!

In [3]:
datasets['data_1'].describe()

               거래년월          고객ID          승인금액
count  6.067264e+07  6.067264e+07  6.067264e+07
mean   2.021066e+05  6.677297e+09  5.299210e+04
std    3.417087e+00  1.886250e+09  1.454830e+05
min    2.021010e+05  2.800789e+09  1.000000e+04
25%    2.021040e+05  5.095210e+09  1.000000e+04
50%    2.021070e+05  6.702004e+09  2.000000e+04
75%    2.021100e+05  8.280529e+09  5.000000e+04
max    2.021120e+05  9.999998e+09  9.900000e+06

In [5]:
datasets['data_4'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20835992 entries, 0 to 20835991
Data columns (total 13 columns):
 #   Column    Dtype
---  ------    -----
 0   기준년월      int64
 1   고객ID      int64
 2   연령대       object
 3   성별        object
 4   고객등급      object
 5   자택_시도     object
 6   자택_시군구    object
 7   수신_요구불예금  int64
 8   수신_거치식예금  int64
 9   수신_적립식예금  int64
 10  수신_펀드     int64
 11  수신_외화예금   int64
 12  대출금액      int64
dtypes: int64(8), object(5)
memory usage: 2.0+ GB

In [6]:
datasets['data_4'].head()

,기준년월,고객ID,연령대,성별,고객등급,자택_시도,자택_시군구,수신_요구불예금,수신_거치식예금,수신_적립식예금,수신_펀드,수신_외화예금,대출금액
0,202112,9999998161,60대이상,여,일반등급,대구광역시,달서구,1400000,0,0,0,0,0
1,202112,9999997589,60대이상,남,일반등급,경상북도,경주시,0,10000000,500000,0,0,0
2,202112,9999991579,60대이상,여,일반등급,경상북도,성주군,0,30000000,0,0,0,0
3,202112,9999989448,60대이상,남,일반등급,대구광역시,달서구,400000,0,0,0,0,0
4,202112,9999988325,60대이상,남,일반등급,대구광역시,달서구,2700000,0,0,0,0,0

In [8]:
datasets['data_1'].head()

     거래년월        고객ID 가맹점업종명 가맹점_광역시도 가맹점_시군구  승인건수   승인금액
0  202112  4080934272   일반한식     경상북도     경주시  5번이하  20000
1  202112  4116127380   일반한식     경상북도     경주시  5번이하  20000
2  202112  2914424833   일반한식     경상북도     경주시  5번이하  20000
3  202112  2950007638   일반한식     경상북도     경주시  5번이하  60000
4  202112  2931907302   일반한식     경상북도     경주시  5번이하  10000

# Random Sampled Data

In [8]:
# 무작위 추출(데이터당 10000개) 샘플링 코드
import random

def random_sample_df(df, samp_size = 10000):
        random_idx = random.sample(range(1, len(df) +1), samp_size)
        return df.loc[random_idx]

In [11]:
sample_datasets = []

for key, df in datasets.items():   
    data_tmp = random_sample_df(df)
    sample_datasets.append(data_tmp)

In [17]:
# 파일명 리스트
file_names = [
    "card_2021_sample.csv",
    "card_2022_sample.csv",
    "card_2023_sample.csv",
    "customer_2021_sample.csv",
    "customer_2022_sample.csv",
    "customer_2023_sample.csv"
]

In [18]:
for df, name in zip(sample_datasets, file_names):
    df.to_csv(f"sampled_data/{name}", index = False)
    print(f"Saved {name}")

Saved card_2021_sample.csv
Saved card_2022_sample.csv
Saved card_2023_sample.csv
Saved customer_2021_sample.csv
Saved customer_2022_sample.csv
Saved customer_2023_sample.csv

# DATA look

In [14]:
#tmp_2023 = pd.merge(datasets['data_1'], datasets['data_4'], on = '고객ID', how='left')