In [1]:
#pip install -r "../requirements.txt" -qq

In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd

DATA_PATH = 'C:/Users/campus3S031/Desktop/iM뱅크 프로젝트용 데이터/'
csv_names = [
    'iMBANK_CARD_DATA_2021(K-DigitalTraining).csv', 
    'iMBANK_CARD_DATA_2022(K-DigitalTraining).csv', 
    'iMBANK_CARD_DATA_2023(K-DigitalTraining).csv', 
    'iMBANK_CUSTOMER_DATA_2021(K-DigitalTraining).csv', 
    'iMBANK_CUSTOMER_DATA_2022(K-DigitalTraining).csv', 
    'iMBANK_CUSTOMER_DATA_2023(K-DigitalTraining).csv'
    ]
datasets = {}
def read_data(csv_names):
    for i in range(len(csv_names)):
        datasets[f"data_{i+1}"] = pd.read_csv(f"{DATA_PATH}{csv_names[i]}", encoding='cp949')

        print(f'data input complete! : {csv_names[i]} as data_{i+1}')
    print('All data read complete!')

read_data(csv_names)

data input complete! : iMBANK_CARD_DATA_2021(K-DigitalTraining).csv as data_1
data input complete! : iMBANK_CARD_DATA_2022(K-DigitalTraining).csv as data_2
data input complete! : iMBANK_CARD_DATA_2023(K-DigitalTraining).csv as data_3
data input complete! : iMBANK_CUSTOMER_DATA_2021(K-DigitalTraining).csv as data_4
data input complete! : iMBANK_CUSTOMER_DATA_2022(K-DigitalTraining).csv as data_5
data input complete! : iMBANK_CUSTOMER_DATA_2023(K-DigitalTraining).csv as data_6
All data read complete!

In [39]:
read_data(csv_names)

data input complete! : iMBANK_CARD_DATA_2021(K-DigitalTraining).csv as data_1
data input complete! : iMBANK_CARD_DATA_2022(K-DigitalTraining).csv as data_2
data input complete! : iMBANK_CARD_DATA_2023(K-DigitalTraining).csv as data_3
data input complete! : iMBANK_CUSTOMER_DATA_2021(K-DigitalTraining).csv as data_4
data input complete! : iMBANK_CUSTOMER_DATA_2022(K-DigitalTraining).csv as data_5
data input complete! : iMBANK_CUSTOMER_DATA_2023(K-DigitalTraining).csv as data_6

# 다 읽어왔다!

In [3]:
datasets['data_1'].describe()

               거래년월          고객ID          승인금액
count  6.067264e+07  6.067264e+07  6.067264e+07
mean   2.021066e+05  6.677297e+09  5.299210e+04
std    3.417087e+00  1.886250e+09  1.454830e+05
min    2.021010e+05  2.800789e+09  1.000000e+04
25%    2.021040e+05  5.095210e+09  1.000000e+04
50%    2.021070e+05  6.702004e+09  2.000000e+04
75%    2.021100e+05  8.280529e+09  5.000000e+04
max    2.021120e+05  9.999998e+09  9.900000e+06

In [4]:
datasets['data_4'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20835992 entries, 0 to 20835991
Data columns (total 13 columns):
 #   Column    Dtype
---  ------    -----
 0   기준년월      int64
 1   고객ID      int64
 2   연령대       object
 3   성별        object
 4   고객등급      object
 5   자택_시도     object
 6   자택_시군구    object
 7   수신_요구불예금  int64
 8   수신_거치식예금  int64
 9   수신_적립식예금  int64
 10  수신_펀드     int64
 11  수신_외화예금   int64
 12  대출금액      int64
dtypes: int64(8), object(5)
memory usage: 2.0+ GB

In [47]:
datasets['data_4'].head()

,기준년월,고객ID,연령대,성별,고객등급,자택_시도,자택_시군구,수신_요구불예금,수신_거치식예금,수신_적립식예금,수신_펀드,수신_외화예금,대출금액
0,202112,9999998161,60대이상,여,일반등급,대구광역시,달서구,1400000,0,0,0,0,0
1,202112,9999997589,60대이상,남,일반등급,경상북도,경주시,0,10000000,500000,0,0,0
2,202112,9999991579,60대이상,여,일반등급,경상북도,성주군,0,30000000,0,0,0,0
3,202112,9999989448,60대이상,남,일반등급,대구광역시,달서구,400000,0,0,0,0,0
4,202112,9999988325,60대이상,남,일반등급,대구광역시,달서구,2700000,0,0,0,0,0

{'data_1':             거래년월        고객ID 가맹점업종명 가맹점_광역시도 가맹점_시군구  승인건수   승인금액
 0         202112  4080934272   일반한식     경상북도     경주시  5번이하  20000
 1         202112  4116127380   일반한식     경상북도     경주시  5번이하  20000
 2         202112  2914424833   일반한식     경상북도     경주시  5번이하  20000
 3         202112  2950007638   일반한식     경상북도     경주시  5번이하  60000
 4         202112  2931907302   일반한식     경상북도     경주시  5번이하  10000
 ...          ...         ...    ...      ...     ...   ...    ...
 60672637  202101  9436485459  일식·회집     경상북도     상주시  5번이하  40000
 60672638  202101  4079854553  일식·회집     경상북도     상주시  5번이하  90000
 60672639  202101  9986820487  일식·회집     경상북도     상주시  5번이하  10000
 60672640  202101  8230823000  일식·회집     경상북도     상주시  5번이하  20000
 60672641  202101  4615272306  일식·회집     경상북도     상주시  5번이하  20000

 [60672642 rows x 7 columns],
 'data_2':             거래년월        고객ID 가맹점업종명 가맹점_광역시도 가맹점_시군구  승인건수   승인금액
 0         202212  3083154411   일반한식     경상북도     경주시  5번이하  20000
 1         202212  3557972915   일반한식     경상북도     경주시  5번이하  20000
 2         202212  3605837880   일반한식     경상북도     경주시  5번이하  80000
 3         202212  3673581980   일반한식     경상북도     경주시  5번이하  20000
 4         202212  3913986482   일반한식     경상북도     경주시  5번이하  40000
 ...          ...         ...    ...      ...     ...   ...    ...
 62945845  202201  5457514975  일식·회집     경상북도     상주시  5번이하  20000
 62945846  202201  3156935588  일식·회집     경상북도     상주시  5번이하  40000
 62945847  202201  4715586127   서양음식    부산광역시    해운대구  5번이하  10000
 62945848  202201  4797055539   서양음식    부산광역시    해운대구  5번이하  10000
 62945849  202201  3944703699     스넥    울산광역시      중구  5번이하  10000

 [62945850 rows x 7 columns],
 'data_3':             거래년월        고객ID 가맹점업종명 가맹점_광역시도 가맹점_시군구  승인건수    승인금액
 0         202312  3557388137   일반한식     경상북도     경주시  5번이하   20000
 1         202312  3557255233   일반한식     경상북도     경주시  5번이하   10000
 2         202312  3474259363   일반한식     경상북도     경주시  5번이하   20000
 3         202312  3698202806   일반한식     경상북도     경주시  5번이하   30000
 4         202312  7676586511  자동차정비     경상북도     영천시  5번이하  100000
 ...          ...         ...    ...      ...     ...   ...     ...
 64829372  202301  3857466791  일식·회집     경상북도     상주시  5번이하   20000
 64829373  202301  3767671659  일식·회집     경상북도     상주시  5번이하   40000
 64829374  202301  4075163762  일식·회집     경상북도     상주시  5번이하   40000
 64829375  202301  2956984953  일식·회집     경상북도     상주시  5번이하   10000
 64829376  202301  8345799655     스넥    울산광역시      중구  5번이하   20000

 [64829377 rows x 7 columns],
 'data_4':             기준년월        고객ID    연령대 성별  고객등급    자택_시도   자택_시군구  수신_요구불예금  \
 0         202112  9999998161  60대이상  여  일반등급    대구광역시      달서구   1400000
 1         202112  9999997589  60대이상  남  일반등급     경상북도      경주시         0
 2         202112  9999991579  60대이상  여  일반등급     경상북도      성주군         0
 3         202112  9999989448  60대이상  남  일반등급    대구광역시      달서구    400000
 4         202112  9999988325  60대이상  남  일반등급    대구광역시      달서구   2700000
 ...          ...         ...    ... ..   ...      ...      ...       ...
 20835987  202101  3032279323    40대  여  일반등급      경기도  성남시 분당구         0
 20835988  202101  3032277893    20대  여  일반등급      경기도  성남시 중원구         0
 20835989  202101  3032277326    30대  여  일반등급      경기도  고양시 덕양구         0
 20835990  202101  3032273566    20대  남  일반등급    서울특별시      강동구         0
 20835991  202101  3032265300    40대  남  일반등급  강원특별자치도      춘천시         0

           수신_거치식예금  수신_적립식예금  수신_펀드  수신_외화예금  대출금액
 0                0         0      0        0     0
 1         10000000    500000      0        0     0
 2         30000000         0      0        0     0
 3                0         0      0        0     0
 4                0         0      0        0     0
 ...            ...       ...    ...      ...   ...
 20835987         0         0      0        0     0
 20835988         0         0      0        0     0
 20835989         0         0      0        0     0
 20835990         0         0      0        0     0
 20835991         0         0      0        0     0

 [20835992 rows x 13 columns],
 'data_5':             기준년월        고객ID    연령대 성별  고객등급  자택_시도 자택_시군구  수신_요구불예금  \
 0         202212  9999998161  60대이상  여  일반등급  대구광역시    달서구    600000
 1         202212  9999997589  60대이상  남  일반등급   경상북도    경주시         0
 2         202212  9999991579  60대이상  여  일반등급   경상북도    성주군         0
 3         202212  9999989448  60대이상  남  일반등급  대구광역시    달서구    400000
 4         202212  9999988325  60대이상  남  일반등급  대구광역시    달서구   2700000
 ...          ...         ...    ... ..   ...    ...    ...       ...
 21578681  202201  2782410544    20대  남  일반등급  대전광역시     서구         0
 21578682  202201  2782396592    30대  여  일반등급  서울특별시    강남구         0
 21578683  202201  2782396571  60대이상  남  일반등급  대구광역시     북구         0
 21578684  202201  2782389289    20대  남  일반등급  대전광역시    유성구         0
 21578685  202201  2782388524    20대  남  일반등급  인천광역시   미추홀구         0

           수신_거치식예금  수신_적립식예금  수신_펀드  수신_외화예금    대출금액
 0                0         0      0        0       0
 1                0         0      0        0       0
 2         33000000         0      0        0       0
 3                0         0      0        0       0
 4                0         0      0        0       0
 ...            ...       ...    ...      ...     ...
 21578681         0         0      0        0       0
 21578682         0         0      0        0  300000
 21578683         0         0      0        0       0
 21578684         0         0      0        0       0
 21578685         0         0      0        0       0

 [21578686 rows x 13 columns],
 'data_6':             기준년월        고객ID    연령대 성별  고객등급  자택_시도 자택_시군구  수신_요구불예금  \
 0         202312  9999998161  60대이상  여  일반등급  대구광역시    달서구    300000
 1         202312  9999997589  60대이상  남  일반등급   경상북도    경주시         0
 2         202312  9999991579  60대이상  여  일반등급   경상북도    성주군         0
 3         202312  9999989448  60대이상  남  일반등급  대구광역시    달서구    400000
 4         202312  9999988325  60대이상  남  일반등급  대구광역시    달서구   2800000
 ...          ...         ...    ... ..   ...    ...    ...       ...
 22739677  202301  2455102445    30대  여  일반등급  서울특별시    마포구         0
 22739678  202301  2455101298    30대  여  일반등급  서울특별시    성북구         0
 22739679  202301  2455099113    20대  여  일반등급  서울특별시    강동구         0
 22739680  202301  2455093090    20대  여  일반등급  서울특별시    광진구         0
 22739681  202301  2455091381    20대  남  일반등급  서울특별시    관악구         0

           수신_거치식예금  수신_적립식예금  수신_펀드  수신_외화예금  대출금액
 0                0         0      0        0     0
 1                0         0      0        0     0
 2         33000000         0      0        0     0
 3                0         0      0        0     0
 4                0         0      0        0     0
 ...            ...       ...    ...      ...   ...
 22739677         0         0      0        0     0
 22739678         0         0      0        0     0
 22739679         0         0      0        0     0
 22739680         0         0      0        0     0
 22739681         0         0      0        0     0

 [22739682 rows x 13 columns]}

In [8]:
# 무작위 추출(데이터당 10000개) 샘플링 코드
import random

def random_sample_df(df, samp_size = 10000):
        random_idx = random.sample(range(1, len(df) +1), samp_size)
        return df.loc[random_idx]

In [11]:
sample_datasets = []

for key, df in datasets.items():   
    data_tmp = random_sample_df(df)
    sample_datasets.append(data_tmp)

In [17]:
# 파일명 리스트
file_names = [
    "card_2021_sample.csv",
    "card_2022_sample.csv",
    "card_2023_sample.csv",
    "customer_2021_sample.csv",
    "customer_2022_sample.csv",
    "customer_2023_sample.csv"
]

In [18]:
for df, name in zip(sample_datasets, file_names):
    df.to_csv(f"sampled_data/{name}", index = False)
    print(f"Saved {name}")

Saved card_2021_sample.csv
Saved card_2022_sample.csv
Saved card_2023_sample.csv
Saved customer_2021_sample.csv
Saved customer_2022_sample.csv
Saved customer_2023_sample.csv