# Python 기초문법 (이어서)

## 제어문 & 반복문

In [ ]:
x = 95
if x > 90 :
  print('wow! incredible!')

wow! incredible!

In [ ]:
num = float(input('How tall are you? :'))

if num >= 180 :
  print('You are very tall!')
elif num >= 170 and num < 180 :
  print('You are pretty tall!')
else :
  print('You are short!')

How tall are you? :178.5
You are pretty tall!

### 단일 조건 및 그 외 조건에 따른 분기

In [ ]:
x = 77

x = str(x)

if x[0] == x[1]:
  print("two same nubers!")
else:
  print("no same numbers!")

two same nubers!

In [ ]:
x = int(input('insert your test score! ...'))

if x >= 90:
  print('pass')
elif x >= 80:
  print('sub-pass')
else:
  print('Fail')

insert your test score! ...88
sub-pass

### 중첩 조건에 따른 분기

In [ ]:
num = float(input('How tall are you? :'))

if num >= 180 :
  if num >= 200:
    print('are you even a human being?')
  print('You are very tall!')
elif num >= 170 and num < 180 :
  print('You are pretty tall!')
else :
  print('You are short!')

How tall are you? :220
are you even a human being?
You are very tall!

### 반복문

In [ ]:
for i in range(3):
  print('hello, world!', '\n')

hello, world!

hello, world!

hello, world!

In [ ]:
for i in [1,2,3]:
  print('num goes...',i,'\n' )

num goes... 1

num goes... 2

num goes... 3

### 중첩 for문

In [ ]:
for i in range(2,10):
  for v in range(1,10):
    print(f'{i} * {v} = {v * i} \t')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
x_list = ["x1", "x2"]
y_list = ["y1", "y2"]

print("x y")
for x in x_list:
  print(x)
  for y in y_list:
    print(x,y)
  print("I wonder why, I wonder how.")

print('yesterday i saw a really blue blue sky')

x y
x1
x1 y1
x1 y2
I wonder why, I wonder how.
x2
x2 y1
x2 y2
I wonder why, I wonder how.
yesterday i saw a really blue blue sky

In [ ]:
names = ['J', "R", "L", "M"]
scores = [95, 96, 97, 94]

for idx in range(len(names)):
  print(names[idx],':', scores[idx])

J : 95
R : 96
L : 97
M : 94

### while 반복문

In [ ]:
a = 1
while a < 3:
  print('hey! wait! i got a new complain!')
  a += 1

hey! wait! i got a new complain!
hey! wait! i got a new complain!

In [ ]:
k = 0

while True:
  k += 1
  print('hello')
  if k == 5:
    break

hello
hello
hello
hello
hello

## 리스트 컴프리헨션

In [ ]:
nums = [1,2,3,4,5]
res = []

for i in nums:
  z = i * 2
  res.append(z)

print(res)

[2, 4, 6, 8, 10]

In [ ]:
res2 = [i * 2 for i in nums]
print(res2)

[2, 4, 6, 8, 10]

In [ ]:
nums2 = [1,2,3,4,5,6,7]

res = []

for i in nums2:
  if i % 2 == 0:
    res.append(i)

print(res)

[2, 4, 6]

In [ ]:
nums2 = [1,2,3,4,5,6,7]
res3 = [i for i in nums2 if i % 2 == 0]
print(res3)

[2, 4, 6]

# 사용자 정의 함수

In [ ]:
import numpy as np

In [ ]:
def random_nums(first, second, third):
  res_list = []
  for i in range(third):
    res_list.append(np.random.randint(first, second))

  if max(res_list) - min(res_list) < 9:
    print(f'{third} numbers are family')

  res_list.sort()
  print(res_list)

In [ ]:
random_nums(1,20,5)

5 numbers are family
[11, 11, 17, 17, 18]

## 인자(인수)는 있으나 반환 값이 없는 함수

In [135]:
def my_friend(name):
  print(f'{name} is my freind!')

my_friend('heyho')

heyho is my freind!

In [141]:
my_friend('superman')

sumperman is my freind!

## 인자(인수)는 있으나 반환 값이 같이 있는 함수

In [142]:
def my_calc(x,y):
  z = x * y
  return z

In [146]:
my_calc(3,4)

21

## 변수의 유효 범위

In [160]:
a = 5 #전역 변수

def func1():
  a = 1     #func1의 지역 변수
  print("[func1] 지역 변수 a = ",a)


def func2():
  a = 2     #func2의 지역 변수
  print("[func2] 지역 변수 a = ",a)

def func3():
  print("[func3] 지역 변수 a = ",a)

def func4():
  global a
  a = 4
  print("[func4] 전역 변수 a = ",a)

In [158]:
func1()
func2()
func3()

[func1] 지역 변수 a =  1
[func2] 지역 변수 a =  2
[func3] 지역 변수 a =  5

In [161]:
func1()
func2()
print("지역 변수 a = ",a)

[func1] 지역 변수 a =  1
[func2] 지역 변수 a =  2
지역 변수 a =  5

In [165]:
func3()

[func3] 지역 변수 a =  4

In [164]:
func4()

[func4] 전역 변수 a =  4

In [168]:
c = 1

def add():
  global c
  c += 2
  print(c)

add()

3

## 가변인수

- 학생의 점수를 입력받아 평균 점수를 계산하는 함수
- 문제점: 각 학생들마다 시험 본 과목수가 가 다르다면? 즉, 평균의 분모값이 모두 다르다면?
  - A: 3과목
  - B: 2과목
  - C: 5과목

In [169]:
def calculate_average(name, *scores): # *scores가 가변인수이다.
    if scores:  # 가변 인수가 비어있지 않은지 확인
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.") #:.2f는 소수점 둘째자리까지만 표시한다는 뜻.
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

In [172]:
calculate_average("evan", 99, 100, 28, 93, 12, 48); print('\n')
calculate_average("paul", 94, 70, 22); print('\n')

evan의 평균 점수는 63.33점입니다.


paul의 평균 점수는 62.00점입니다.

## 키워드 인수 확인 예제

- 학생의 이름, 과목, 점수, 학년을 받아 성적을 출력하려면?
  - 고정 인수: 학생의 이름
  - 가변 인수: 여러 개의 과목 점수
  - 키워드 인수: 학년 정보

In [174]:
def student_report(name, *scores, **details):
    print(f"학생 이름: {name}")

     # 점수가 입력된 경우에만 평균을 계산
    if scores:
        average_score = sum(scores) / len(scores)
        print(f"평균 점수: {average_score:.2f}")
    else:
        print("점수를 입력하지 않았습니다.")

    # 키워드 인수로 전달된 추가 정보를 출력
    for key, value in details.items():
        print(f"{key}: {value}")

In [175]:
# 함수 호출 예제
student_report("Alice", 88, 92, 85, grade="2학년", school="Seoul High School")
print("\n")
student_report("Bob", 75, 80, 78, 90, grade="3학년", school="Busan High School", hobby="축구")
print("\n")
student_report("Charlie", grade="1학년")

학생 이름: Alice
평균 점수: 88.33
grade: 2학년
school: Seoul High School


학생 이름: Bob
평균 점수: 80.75
grade: 3학년
school: Busan High School
hobby: 축구


학생 이름: Charlie
점수를 입력하지 않았습니다.
grade: 1학년

In [ ]:
'''
가변인수를 활용한 함수

'''

## 람다 함수

In [176]:
(lambda x : x ** 2)(5)

25

In [177]:
mySquare = lambda x: x ** 2
mySquare(5)

25

In [178]:
smpF = (lambda x, y, z : x ** 2 + 3 * y + z % 2)
smpF(1,2,3)

8

## context manager, decorator

- 클로저 Closure
  - 함수 안에 또 다른 함수를 생성함

- 성능 측정을 할 때 도움받을 수 있다.

In [ ]:
import time

'''
코드가 돌아가는 시간을 체크하는 함수이다.
즉, 특정 사용자 정의 함수의 성능측정에 사용된다.
사용자 정의 함수 위에 @를 써서 호출한다.
'''
def time_decorator(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        print(f"Function '{func.__name__}' executed in {end_time - start_time:.4f} seconds")
        return result
    return wrapper

@time_decorator
def slow_function():
    time.sleep(2)
    return "Finished"

# 사용 예시
slow_function()

# 클래스 기초

In [180]:
class book:
  title = "bible"     #속성
  author = "jesus"    #속성
  pages = 312         #속성
  price = 0           #속성
  discount = 0.2      #속성
  #여기까지가 클래스

#인스턴스 생성
book1 = book()
book1
#왜 결과가 'book1'이 아니라 'book'인지?

In [182]:
book2  = book()
book2

In [187]:
# 인스턴스 지정
book1.title = "Streamit"
book2.TITLE = "Rstudio"

In [188]:
# 인스턴스 호출
print(book1.title)
print(book2.TITLE)

#대소문자 구분이 안된다 -> 좋은 코딩이 아님!!

Streamit
Rstudio

- 다시 처음부터 해보자.

In [194]:
class book:
  title = "bible"     #속성
  author = "jesus"    #속성
  pages = 312         #속성
  price = 0           #속성
  discount = 0.2      #속성

  #
  def read_time(self, reading_speed = 30):
    return round(self.pages / reading_speed, 1) #함수 만들기

In [196]:
book1 = book()
book1.title = 'mobidick'
book1.author = "hemingway"
book1.pages = 560
book1.price = 60000
book1.discount = 10

print(book1.title, book1.author)
outputs = book1.read_time() #함수 호출
print(outputs)

mobidick hemingway
18.7

In [198]:
outputs = book1.read_time(reading_speed = 5) #함수 호출
print(outputs)

112.0

## 코드 업데이트

In [214]:
class book():
  def __init__(self, title, author, pages, price, discount_rate = 0): #초기화를 의미한다!
    self.title = title
    self.author = author
    self.pages = pages
    self.price = price
    self.discount_rate = discount_rate

  def read_time(self, reading_speed = 30):
    return round(self.pages / reading_speed, 1)

  def apply_discount(self, discount_rate = 0):
    return self.price - (self.price * self.discount_rate)

In [215]:
book1 = book('bible', 'jesus', 2000, 20000, 0.1)
book2 = book('coran', 'alah', 1000, 13000, 0.5)
book3 = book('yingyang', 'buddah', 4500, 70000, 0.2)

book1.title, book2.title

('bible', 'coran')

In [220]:
print(book1.apply_discount(0.3), '\n',
      book2.apply_discount(0.7))

18000.0
 6500.0

In [233]:
class book():
  def __init__(self, title, author = None, pages = 100, price = 15000, discount_rate = 0): #초기화를 의미한다!
    self.title = title
    self.author = author
    self.pages = pages
    self.price = price
    self.discount_rate = discount_rate

  def read_time(self, reading_speed = 30):
    return round(self.pages / reading_speed, 1)

  def apply_discount(self, discount_rate = 0):
    return self.price - (self.price * self.discount_rate)

In [236]:
book1 = book('arknova')
print(book1.read_time(),'\t',book1.apply_discount(0.7))

3.3 	 15000