<a href="https://colab.research.google.com/github/shs1018/iM_DiGital_Banker_academy/blob/main/alphaco_240924.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 계산기처럼 이용

## 계산

In [13]:
type(3.2)

float

In [14]:
a = '5'
type(a)

str

In [15]:
a = 5
type(a)

int

In [11]:
1+1

2

In [12]:
10 / 2

5.0

###과학적 표기법

In [16]:
3e8

300000000.0

In [17]:
3e-4

0.0003

In [18]:
3e4 - 3e-1

29999.7

In [19]:
type(3e2)

float

# 오후수업 실습

## 논리변수

In [12]:
print(True); type(True)

True

bool

In [18]:
print(True and False)
print(True or False)
print(False and False)
print(True and True)

False
True
False
True

In [28]:
print((6 > 3) and (7 > 4));
print(6 == 10000)

True
False

## 입력과 출력

In [30]:
x = input("random number goes here: ")
print(x)

random number goes here: 222
222

In [33]:
x = int(input("random number1 goes here: "))
y = int(input("random number2 goes here: "))
sums = x + y

if sums > 10:
  print("합이 10보다 큽니다.")
elif sums == 10:
  print("합이 10입니다.")
else:
  print("합이 10보다 작습니다.")

random number1 goes here: 123
random number2 goes here: -122
합이 10보다 작습니다.

In [35]:
# 자료형변환
# 숫자를 문자로, 문자를 숫자로.
# 대부분이 클래스 또는 함수를 이용한다.

x = float(input("random float goes here1: "))
y = float(input("random float goes here2: "))
print(type(x), type(y))
print(x + y, x*y, x/y)

random float goes here1: 3e4
random float goes here2: 3.342e-2
<class 'float'> <class 'float'>
30000.03342 1002.5999999999999 897666.0682226212

In [43]:
print(type(round(3.3)),
      type(float(3.3)),
      type(int(float(3.3))))

<class 'int'> <class 'float'> <class 'int'>

## 문자열(str)

In [50]:
a = 'Hello, World! 1'
b = 'Hello, World! 2'

In [51]:
res = a + b
print(res)

Hello, World! 1Hello, World! 2

In [53]:
res2 = a * 2
print(res2)

Hello, World! 1Hello, World! 1

In [55]:
a = '''
string 1
string 2
string 3
and goes on and on...
'''
print(a)

string 1
string 2
string 3
and goes on and on...

In [59]:
age = int(input('당신의 나이는?: '))
urage = f'당신의 나이는 {age}살입니다. 10년 전에는 {age - 10}살이었습니다.'
print(urage)
type(urage)

당신의 나이는?: 1
당신의 나이는 1살입니다. 10년 전에는 -9살이었습니다.

str

In [61]:
# 인덱싱 및 슬라이싱
# 파이썬은 첫 번째 문자가 0부터 시작이다. R은 1부터 시작이지만...

r_str = '안녕하세요. 저는 지나가던 문자열입니다.'
print(len(r_str))
r_str[2]

22

'하'

In [63]:
# 인덱싱을 음수로 하면 맨 뒤부터 가져올 수 있다. 0이 아닌 -1 부터 시작임에 주의하자.
r_str[-5]

'열'

In [65]:
#슬라이싱할 때는 마지막 숫자의 -1 까지만 가져온다.
#일종의 법칙이라 생각하고 받아들이자.
a = '안녕하세요. 저는 지나가던 문자열입니다.'
print(a[0:6])

안녕하세요.

In [66]:
a = '안녕하세요. 저는 지나가던 문자열입니다.'
print(a[0:8:2])

안하요

In [68]:
a = '안녕하세요. 저는 지나가던 문자열입니다.'
print(a[:7],'\n', a[10:])

안녕하세요.
 지나가던 문자열입니다.

In [80]:
smp = 'I love Rython'
print(smp[:7] + "P" + smp[8:])

I love Python

In [91]:
smp = 'I love Rython'
res = smp.replace('R', 'P')
print(res)

res = res.upper()

print(res)

I love Python
I LOVE PYTHON

In [92]:
res.title()

'I Love Python'

In [95]:
smptxt = 'hello, streamlit'
words = smptxt.split(sep = ',')
print(words[0])

hello

In [97]:
sampleList = ["hello", 'streamlit']
sampleList = ', '.join(sampleList)
print(sampleList)

hello, streamlit

In [99]:
from collections.abc import Sequence

my_num = 100
my_list = [1, 2, 3]
my_string = "hello"

is_num = isinstance(my_num, Sequence)
is_list = isinstance(my_list, Sequence)
is_string = isinstance(my_string, Sequence)

print(is_num)
print(is_list)
print(is_string)

False
True
True

[0, 1, 2, ['Python', 'Hello'], 3, 4, 5]

In [102]:
a = [0, 1, 2, ["Python", "Hello"], 3, 4, 5]
a[3][1][1]

'e'

In [107]:
bank = ["iM", '뱅크']
bank.append('academy')
bank

['iM', '뱅크', 'academy']

In [109]:
a = [100, 200]
a.append([300, 400])
a

[100, 200, [300, 400]]

In [111]:
a = [100, 200]
a.extend([300, 400])
a

[100, 200, 300, 400]

## 리스트값 변경 및 삭제

In [112]:
nums = [301,421, 888, 4810, 7642]
nums[0] = 564
nums

[564, 421, 888, 4810, 7642]

In [113]:
nums = (301,421, 888, 4810, 7642)
nums[0] = 564
nums

TypeError: 'tuple' object does not support item assignment

In [121]:
nums = [301,421, 888, 4810, 7642]

nums.remove(4810)
nums.remove(nums[0])
nums

[421, 888, 7642]

In [119]:
nums = [301,421, 888, 4810, 7642]

del nums[0]
nums

[421, 888, 4810, 7642]

In [126]:
my_list = {
    'want1' : 'gulfmaster',
    'job' : 'data analyst',
    'buy list' : [1,2,3,4],
    'others' : {'1' 'really others'}
}
my_list['job']

'data analyst'

In [133]:
my_dic = {
    "name" : "evan",
    "age" : 20,
    "job" : "강사",
    "쇼핑목록" : [0, 1, 2, ["Python", "Hello"], 3, 4, 5],
    "그외" : (1, 2, 3),
    "그외2" : {"key" : "value"}
}

my_dic['쇼핑목록'][3][1][-1]

'o'

In [134]:
my_dic['name2'] = 'bbbb'
my_dic

{'name': 'evan',
 'age': 20,
 'job': '강사',
 '쇼핑목록': [0, 1, 2, ['Python', 'Hello'], 3, 4, 5],
 '그외': (1, 2, 3),
 '그외2': {'key': 'value'},
 'name2': 'bbbb'}

In [137]:
my_dic['그외'] = ['list1', 'list2', 'temp3']
my_dic

{'name': 'evan',
 'age': 20,
 'job': '강사',
 '쇼핑목록': [0, 1, 2, ['Python', 'Hello'], 3, 4, 5],
 '그외': ['list1', 'list2', 'temp3'],
 '그외2': {'key': 'value'},
 'name2': 'bbbb'}

In [141]:
print(my_dic.keys(), '\n')
print(my_dic.values(), '\n')
print(my_dic.items())

dict_keys(['name', 'age', 'job', '쇼핑목록', '그외', '그외2', 'name2'])

dict_values(['evan', 20, '강사', [0, 1, 2, ['Python', 'Hello'], 3, 4, 5], ['list1', 'list2', 'temp3'], {'key': 'value'}, 'bbbb'])

dict_items([('name', 'evan'), ('age', 20), ('job', '강사'), ('쇼핑목록', [0, 1, 2, ['Python', 'Hello'], 3, 4, 5]), ('그외', ['list1', 'list2', 'temp3']), ('그외2', {'key': 'value'}), ('name2', 'bbbb')])

In [145]:
list(my_dic.items())

[('name', 'evan'),
 ('age', 20),
 ('job', '강사'),
 ('쇼핑목록', [0, 1, 2, ['Python', 'Hello'], 3, 4, 5]),
 ('그외', ['list1', 'list2', 'temp3']),
 ('그외2', {'key': 'value'}),
 ('name2', 'bbbb')]