In [78]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 데이터 크롤링(API)

## pandas 기초문법 - 시계열 데이터
- 일정 시간 간격으로 배치된 데이터 셋
- 시간 안의 패턴과 반복을 찾은 후 분석해야 한다.

- 시간을 다룰려면 **Timestamp**클래스를 사용하면 된다.
  + https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html

In [79]:
import pandas as pd

timestamp = pd.Timestamp('2023-11-10 12:30:00')
print(timestamp, '\t' ,type(timestamp))

2023-11-10 12:30:00 	 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

### 나라마다 다른 날짜 표기법
- format 활용 https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [80]:
# 미국식

timestamp = pd.Timestamp('06/07/20 12:30:00') # 월/일/년, 20년 6월 7일
print(timestamp, '\t' ,type(timestamp))

2020-06-07 12:30:00 	 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [81]:
# 영국식
timestamp = pd.to_datetime('07/06/20', format = '%d/%m/%y') #20년 6월 7일
print(timestamp, '\t' ,type(timestamp))
print(timestamp.year)

2020-06-07 00:00:00 	 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
2020

In [82]:
# 영국식
timestamp = pd.to_datetime('07/06/20', format = '%d/%m/%y') #20년 6월 7일
print(timestamp, '\t' ,type(timestamp))

2020-06-07 00:00:00 	 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

- 활용해보기

In [83]:
ts = pd.to_datetime("2024-10-11 09:45:38")
print(ts)
print(ts.year)

2024-10-11 09:45:38
2024

## Timedelta
- 시계열을 계산할 수 있도록 만든 메서드
- 시간 연산을 가능하게 해 준다.

In [84]:
tmp = pd.Timedelta(days = 100, hours = 2, minutes = 30, seconds = 17)
print(type(tmp), tmp)

<class 'pandas._libs.tslibs.timedeltas.Timedelta'> 100 days 02:30:17

In [85]:
ts - tmp # ts에서 100일이 빠진다!

Timestamp('2024-07-03 07:15:21')

In [86]:
dates = ['2024-10-09', '2024-10-10', '2024-10-18']

idx = pd.to_datetime(dates)
idx

DatetimeIndex(['2024-10-09', '2024-10-10', '2024-10-18'], dtype='datetime64[ns]', freq=None)

In [87]:
idx[2:3]

DatetimeIndex(['2024-10-18'], dtype='datetime64[ns]', freq=None)

In [88]:
idx.year

Index([2024, 2024, 2024], dtype='int32')

## Unix Time

In [89]:
day = 1628899200 /60 /60 /24
year = day/365
month = day/30

In [90]:
print(year, month, day)

51.652054794520545 628.4333333333333 18853.0

In [91]:
dt = pd.to_datetime(1628899200, unit = 's')
print(dt)

2021-08-14 00:00:00

## 날짜 변환

In [92]:
data = [
    {'시가': 100, '고가': 110, '저가': 90, '종가': 105},
    {'시가': 100, '고가': 112, '저가': 80, '종가':  95},
    {'시가':  99, '고가': 115, '저가': 70, '종가':  85},
    {'시가':  70, '고가':  80, '저가': 60, '종가':  75},
]

df = pd.DataFrame(data, index=['20200615', '20200616', '20200717', '20200718'])
df

           시가   고가  저가   종가
20200615  100  110  90  105
20200616  100  112  80   95
20200717   99  115  70   85
20200718   70   80  60   75

In [93]:
cond = df.index.str[:6] == "202006"
df.loc[cond]

           시가   고가  저가   종가
20200615  100  110  90  105
20200616  100  112  80   95

In [94]:
df.index = pd.to_datetime(df.index)
df.loc['2020-06']

             시가   고가  저가   종가
2020-06-15  100  110  90  105
2020-06-16  100  112  80   95

# KRX API 크롤링

In [95]:
! pip install pykrx -q

In [96]:
import pykrx
print(pykrx.__version__)

1.0.48

In [97]:
from pykrx import stock

tickers = pykrx.stock.get_market_ticker_list(market = 'KOSDAQ')
print(len(tickers), tickers)

1754 ['060310', '054620', '265520', '211270', '109960', '139050', '126600', '013720', '083790', '035760', '311690', '051500', '058820', '023460', '056730', '065770', '083660', '456440', '477760', '099520', '060900', '290120', '025440', '068790', '241520', '180400', '245620', '037370', '050120', '214270', '130500', '900290', '083450', '297890', '440290', '078150', '195940', '028300', '278650', '067630', '024850', '047920', '115450', '046210', '403870', '036640', '439730', '442770', '448760', '467930', '469480', '095340', '950170', '067290', '035900', '318000', '024840', '024120', '455250', '458320', '464680', '476470', '478390', '486630', '021320', '036670', '044180', '046440', '151860', '035600', '226360', '111870', '060720', '058400', '101000', '122450', '052900', '376190', '061970', '309960', '225190', '060370', '417200', '078020', '476080', '086960', '038340', '160550', '053290', '060250', '104200', '222160', '024940', '218410', '327260', '091340', '419530', '019550', '950110', '036120', '246960', '099220', '036540', '255220', '040610', '049470', '184230', '016250', '048550', '063440', '067160', '289080', '089230', '032540', '022220', '048770', '246690', '317240', '057030', '040300', '051390', '052220', '079940', '078890', '399720', '036620', '198440', '217730', '114190', '094480', '039240', '053950', '011040', '024910', '049720', '014570', '348150', '950190', '098460', '035290', '900280', '215000', '121440', '366030', '014200', '029480', '026910', '421800', '440790', '456490', '465320', '482520', '053270', '066620', '043650', '006050', '060480', '078130', '307750', '035080', '453450', '204020', '402490', '114450', '186230', '900070', '204620', '019660', '053260', '282720', '036190', '049080', '420770', '035460', '308100', '407400', '187790', '286750', '121600', '247660', '039860', '091970', '417010', '405920', '051490', '137080', '190510', '242040', '089600', '293580', '138610', '130580', '036800', '267320', '111710', '091590', '168330', '094860', '253590', '212560', '095660', '042420', '950220', '311390', '085910', '092730', '290660', '306620', '153460', '007390', '033640', '330860', '089140', '389650', '137940', '396270', '348210', '225570', '217270', '104620', '194700', '285490', '145170', '106520', '376930', '142280', '234690', '054050', '069140', '040160', '332290', '348340', '060260', '123840', '012340', '214870', '270870', '144960', '085670', '064260', '340360', '039560', '154040', '032190', '323350', '068240', '020400', '008830', '048470', '004780', '017650', '007720', '389260', '317850', '290670', '078140', '065150', '036480', '027830', '104040', '129920', '438220', '442310', '457390', '457630', '471050', '478780', '020180', '045390', '108380', '007680', '048910', '005710', '290380', '120240', '003310', '078600', '096350', '140520', '131220', '010170', '054670', '023910', '021040', '021045', '067080', '298540', '032860', '393890', '299170', '224060', '043090', '213420', '317330', '077360', '090410', '263600', '194480', '263800', '206560', '261200', '067990', '006620', '100130', '005160', '075970', '086450', '099410', '033500', '025950', '088130', '041930', '060380', '079960', '228340', '088910', '094170', '013120', '109860', '032960', '023790', '005290', '025900', '131970', '073190', '030350', '203650', '223250', '060570', '362990', '217620', '016670', '187870', '110990', '263690', '214680', '347850', '263720', '376300', '109740', '196490', '066900', '127120', '092070', '039840', '219550', '310870', '104460', '079810', '113810', '043360', '197140', '068930', '033130', '105740', '263020', '290550', '066670', '187220', '383930', '131180', '315640', '223310', '317120', '462510', '042510', '232680', '418420', '300120', '171120', '388790', '347700', '214260', '200350', '171010', '084650', '217500', '038390', '294140', '443250', '228670', '228850', '412350', '199550', '281740', '277810', '215100', '090360', '108490', '900260', '067730', '071280', '328130', '038060', '141080', '058470', '016100', '012700', '302550', '073570', '377450', '277070', '042500', '193250', '219420', '439090', '195500', '377480', '305090', '098120', '424980', '038290', '267980', '005990', '093520', '377030', '100590', '067280', '072870', '215200', '133750', '446540', '235980', '041920', '014100', '054180', '086900', '078160', '408920', '021880', '140410', '241770', '059210', '058110', '434480', '080420', '417970', '080160', '087260', '101330', '012860', '363260', '348030', '250060', '288980', '142760', '033200', '333050', '118990', '006920', '001810', '279600', '095500', '254490', '218150', '442900', '100790', '412930', '446190', '448830', '477380', '477470', '478440', '482680', '049950', '207760', '059090', '214610', '201490', '452200', '418470', '206640', '018700', '035620', '053030', '301300', '064550', '314930', '208710', '086820', '038460', '251120', '199730', '086040', '099430', '032980', '308080', '043150', '323990', '267790', '046310', '331520', '199480', '438700', '066410', '382900', '206400', '019010', '177350', '424760', '225530', '250000', '310210', '006910', '226340', '014470', '008470', '338220', '100120', '406820', '337930', '099390', '064480', '288330', '365900', '089970', '251630', '018290', '439580', '033560', '369370', '126340', '121800', '082800', '318410', '419540', '146320', '200780', '413640', '141000', '083650', '445360', '473370', '065170', '086670', '335890', '230980', '138580', '082920', '054220', '042370', '050090', '148780', '307870', '357880', '032850', '238200', '093190', '065450', '210120', '044480', '069540', '072950', '451250', '143240', '452430', '419120', '122350', '419050', '014970', '018310', '053700', '009620', '023600', '425290', '439250', '448740', '468510', '009300', '361670', '054540', '065570', '032280', '002290', '037460', '032750', '054090', '000250', '024950', '038500', '437730', '017480', '046390', '027580', '038540', '415580', '452670', '091580', '263810', '089980', '042940', '042600', '107600', '411080', '252990', '378800', '294630', '038070', '006730', '079650', '100660', '019770', '043710', '092190', '046890', '063170', '027040', '018680', '093920', '189860', '178320', '122690', '140070', '011370', '065710', '035890', '357550', '003100', '067370', '171090', '086710', '014620', '037350', '081580', '045300', '015750', '365340', '080470', '043260', '148150', '188260', '053060', '340440', '017510', '011560', '396300', '100700', '024830', '258830', '036630', '039310', '067770', '053450', '222810', '252500', '321370', '347000', '331920', '049180', '299660', '268600', '108860', '208370', '318160', '068760', '068940', '060230', '290690', '950200', '032680', '032685', '258790', '066910', '035610', '357780', '036830', '304100', '328380', '086980', '050960', '084180', '253840', '298830', '236200', '094840', '192440', '424960', '099440', '276040', '159910', '060240', '115570', '330730', '352090', '253450', '408900', '204630', '415380', '013810', '203690', '049830', '020710', '033170', '048870', '025320', '269620', '429270', '418250', '131090', '232830', '290520', '001000', '025870', '215600', '065350', '416180', '162300', '290560', '002800', '472220', '430220', '445970', '017000', '012790', '138070', '226330', '418210', '452980', '474660', '474930', '056700', '187270', '243840', '257720', '222800', '036710', '160980', '356890', '217330', '010280', '208640', '222420', '037760', '099320', '049960', '088280', '050890', '109670', '066790', '222080', '352480', '264660', '352700', '458870', '297090', '900120', '359090', '115530', '115480', '340810', '376290', '189330', '096530', '101240', '060590', '260930', '052300', '413630', '013990', '123860', '025980', '125210', '357580', '052710', '074430', '092040', '083930', '149950', '036010', '050860', '136410', '246720', '067390', '159010', '127710', '154030', '227610', '143160', '054800', '332370', '339950', '469750', '460470', '099190', '461300', '289010', '214430', '040910', '368600', '456010', '052860', '464500', '038880', '307180', '101390', '461030', '451220', '090150', '123010', '031310', '185490', '059100', '262840', '175250', '052460', '119830', '052770', '124500', '372800', '084850', '114840', '027360', '032080', '013310', '059120', '158430', '321820', '001540', '053800', '065660', '297570', '260660', '354320', '361570', '131370', '140670', '096610', '061040', '148250', '347860', '196170', '123750', '085810', '043100', '117670', '314140', '291650', '293780', '196300', '310200', '299910', '179530', '900100', '205500', '052790', '290740', '238090', '092600', '129890', '174900', '255440', '030960', '102120', '263540', '238120', '019990', '270660', '038680', '217480', '121890', '304360', '389500', '042110', '298060', '065420', '103230', '260970', '101490', '095910', '275630', '031330', '060540', '351320', '056190', '080000', '214310', '246250', '041510', '007820', '464080', '109610', '365330', '031860', '306040', '457940', '472230', '473000', '473950', '435870', '455910', '096630', '069510', '234300', '039440', '098660', '052020', '237690', '050760', '288620', '443670', '317830', '058610', '043340', '054630', '200710', '096690', '298380', '203400', '195990', '003800', '088800', '241840', '453860', '312610', '172670', '445090', '295310', '072990', '239610', '462020', '477340', '148930', '044780', '357230', '355690', '071670', '045660', '224110', '021080', '200470', '262260', '397030', '230240', '230360', '038870', '097780', '448280', '101360', '128540', '086520', '247540', '383310', '038110', '073540', '064850', '036810', '173940', '083500', '054940', '950130', '373110', '205100', '356680', '070300', '317770', '373200', '069920', '092870', '317870', '067570', '236810', '333620', '101400', '078860', '422040', '437780', '438580', '439410', '440820', '451700', '466910', '481890', '265740', '354200', '455900', '419080', '208860', '183490', '182400', '348370', '069410', '227950', '291230', '198080', '048830', '096870', '290650', '156100', '073110', '083310', '037950', '170920', '058630', '058970', '019590', '169330', '373170', '179290', '009780', '123040', '323230', '032790', '033160', '347890', '033310', '259630', '105550', '060850', '143540', '036560', '265560', '036000', '250930', '053280', '122640', '900300', '045060', '080520', '039830', '322310', '046120', '014940', '065500', '010470', '417860', '352910', '053980', '036220', '052420', '039200', '226400', '031510', '368970', '138080', '080580', '067170', '353590', '173130', '440320', '049480', '394280', '309930', '244460', '226950', '057540', '131030', '082210', '109080', '380540', '153710', '432430', '338840', '122990', '232140', '112290', '065530', '067900', '007530', '155650', '273640', '251370', '066430', '273060', '019210', '122870', '332570', '079000', '403490', '032820', '041190', '115440', '046970', '082850', '215360', '072470', '073560', '037400', '153490', '101170', '066590', '103840', '046940', '215380', '065680', '018620', '457550', '396470', '307280', '032940', '240810', '074600', '104830', '014190', '217820', '030530', '012620', '382840', '336570', '376980', '008370', '008290', '101160', '336060', '095270', '065950', '076080', '043590', '196700', '069080', '053580', '071460', '377460', '044340', '330350', '348350', '112040', '101730', '123420', '065370', '038620', '299900', '036090', '136540', '097800', '192390', '335870', '900340', '036200', '018000', '203450', '011320', '086390', '241690', '142210', '088340', '048430', '206650', '089850', '084440', '032620', '264450', '078070', '024800', '054930', '069330', '049520', '435380', '444920', '446150', '449020', '450940', '473050', '474490', '430700', '263770', '388720', '340930', '023410', '056080', '468760', '442130', '084370', '240600', '221800', '179900', '263050', '191410', '372170', '146060', '072770', '039020', '067920', '044960', '303530', '296640', '302430', '462350', '274400', '056090', '073490', '215790', '344860', '088390', '272290', '053350', '452400', '264850', '054210', '009730', '164060', '065440', '115610', '478110', '131400', '351330', '080010', '086890', '047560', '900110', '239340', '067010', '418620', '456070', '102710', '041520', '063760', '123570', '083470', '095190', '091120', '039030', '294090', '088290', '353810', '099750', '377330', '035810', '160600', '092130', '096040', '134060', '001840', '024810', '041830', '352940', '079950', '389470', '277410', '060150', '033230', '450520', '037330', '100030', '211050', '083640', '064090', '216050', '049070', '119610', '017250', '051370', '064290', '189300', '150840', '048530', '115310', '039290', '071200', '101930', '333430', '068330', '178780', '019540', '094820', '950140', '049550', '389020', '254120', '043910', '234920', '289220', '174880', '049630', '417840', '110020', '208140', '040420', '045510', '217190', '095700', '072520', '122310', '361390', '187420', '225220', '123330', '381620', '159580', '147830', '033100', '079370', '054950', '023440', '090470', '287410', '137950', '033320', '417500', '204270', '026040', '452160', '126880', '322510', '033050', '094970', '418550', '420570', '089790', '052670', '412540', '199820', '038010', '276730', '080220', '216080', '229000', '082270', '044060', '034940', '067000', '033340', '036930', '072020', '000440', '051980', '228760', '314130', '389030', '043610', '263860', '303030', '036180', '208350', '144510', '358570', '382480', '382800', '051160', '053050', '119850', '065060', '204840', '270520', '311320', '388050', '018120', '109820', '086060', '036890', '363250', '007370', '285800', '085660', '261780', '351870', '094850', '004650', '278280', '362320', '066360', '047820', '094360', '016920', '284620', '293490', '140430', '042000', '313760', '317530', '071850', '050110', '452300', '451760', '900310', '078340', '063080', '307930', '079190', '263700', '214370', '221980', '038530', '424140', '192250', '431190', '115500', '089150', '025880', '093320', '093640', '073010', '105330', '053080', '199430', '432470', '272110', '039420', '083550', '032500', '225430', '102370', '068100', '036030', '064820', '256940', '024880', '042040', '054410', '258610', '274090', '089010', '220260', '052400', '402030', '391710', '046070', '047770', '080530', '104540', '027050', '190650', '123410', '036690', '049430', '183300', '041960', '089890', '360350', '082660', '222040', '241710', '355150', '166480', '045970', '196450', '384470', '029960', '102940', '950160', '033290', '056360', '282880', '121850', '448710', '126730', '015710', '052330', '322780', '200130', '294570', '317690', '078940', '227100', '432720', '365270', '348080', '060280', '372320', '051780', '115180', '445680', '182360', '405100', '066310', '016600', '355390', '096240', '040350', '110790', '900250', '045520', '036170', '214150', '352770', '237880', '139670', '413600', '433530', '446840', '054780', '219130', '360070', '065130', '134580', '023160', '323280', '053620', '044490', '124560', '191420', '073640', '066700', '095610', '064520', '089030', '054450', '200230', '393210', '215480', '051360', '045340', '108230', '079970', '199800', '417790', '290090', '026150', '464280', '322180', '117730', '033830', '057680', '204610', '064760', '246710', '340570', '043220', '277880', '131290', '425420', '131100', '356860', '062860', '321550', '425040', '241790', '104480', '081150', '130740', '084730', '440110', '033540', '388870', '043200', '214450', '208340', '177830', '037070', '150900', '037030', '047310', '368770', '170790', '049120', '038950', '441270', '106240', '131760', '065690', '140860', '091700', '032800', '318010', '027710', '225590', '054300', '068050', '222110', '271830', '263750', '251970', '168360', '087010', '064800', '119500', '389140', '105760', '009520', '189690', '318020', '256630', '331380', '472850', '039980', '041910', '234100', '041020', '114630', '290720', '005670', '094940', '057880', '007330', '093380', '023900', '371950', '370090', '445180', '151910', '220100', '035200', '334970', '321260', '053610', '303360', '377220', '335810', '053160', '405000', '041590', '367000', '075130', '237820', '023770', '019570', '300080', '033790', '032580', '051380', '241820', '237750', '460940', '319660', '031980', '002230', '043370', '239890', '347740', '137400', '257370', '147760', '128660', '006140', '376180', '304840', '062970', '087600', '291810', '378340', '161580', '347770', '163730', '417180', '446750', '448370', '454750', '454640', '469880', '469900', '475240', '475250', '406760', '418170', '435620', '299030', '067310', '166090', '136480', '003380', '450330', '101670', '365590', '149980', '013030', '126700', '106080', '450050', '160190', '221840', '106190', '065650', '066130', '004590', '039340', '034950', '222980', '256840', '219750', '025550', '017890', '080720', '063570', '041460', '101680', '039740', '053300', '025770', '458610', '464440', '477530', '479880', '023760', '054040', '021650', '032300', '037230', '030520', '052600', '256150', '092460', '452190', '047080', '452280', '066980', '114810', '070590', '226440', '042520', '430690', '078350', '045100', '320000', '091440', '024740', '005860', '007770', '198940', '058450', '107640', '079170', '054920', '002680', '430460', '455310', '034810', '03481K', '059270', '076610', '220180', '900270', '214180', '234340', '084990', '187660', '170030', '319400', '048410', '052260', '016790', '041440', '039010', '090850', '460930', '092300', '138360', '011080', '060560', '064240', '039610', '126640', '127980', '061250', '097870', '290270', '353190', '192410', '090710', '078590', '205470', '115160', '028080', '175140', '200670', '065510', '215090', '263920', '243070', '084110', '145020', '024060', '010240', '189980', '037440', '238490']

In [98]:
tickers = pykrx.stock.get_market_ticker_list('20241010')
print(len(tickers), tickers)

958 ['095570', '006840', '027410', '282330', '138930', '001460', '001465', '001040', '079160', '00104K', '000120', '011150', '011155', '001045', '097950', '097955', '000480', '000590', '012030', '016610', '005830', '000990', '139130', '001530', '000210', '000215', '375500', '37550L', '37550K', '007340', '004840', '155660', '069730', '017860', '017940', '365550', '383220', '007700', '114090', '078930', '006360', '001250', '007070', '078935', '012630', '039570', '089470', '294870', '009540', '267250', '267270', '443060', '071970', '010620', '322000', '042670', '267260', '329180', '097230', '014790', '003580', '204320', '060980', '011200', '035000', '002460', '487570', '298050', '003560', '175330', '234080', '001060', '001067', '001065', '096760', '105560', '432320', '002380', '344820', '009070', '009440', '119650', '092220', '003620', '016380', '001390', '033180', '015590', '001940', '025000', '092230', '000040', '044450', '030200', '033780', '058850', '058860', '093050', '003550', '034220', '051900', '051905', '373220', '003555', '032640', '011070', '066570', '066575', '037560', '051910', '051915', '079550', '006260', '010120', '000680', '229640', '108320', '001120', '108670', '108675', '383800', '38380K', '023150', '035420', '181710', '400760', '005940', '005945', '338100', '034310', '030190', '008260', '004250', '004255', '456040', '010060', '178920', '005490', '010950', '010955', '034120', '005090', '001380', '004060', '001770', '002360', '009160', '033530', '123700', '025530', '034730', '011790', '018670', '001740', '006120', '006125', '210980', '395400', '302440', '326030', '402340', '361610', '100090', '03473K', '096770', '096775', '475150', '001510', '001515', '285130', '28513K', '017670', '000660', '003570', '064960', '100840', '036530', '005610', '011810', '465770', '077970', '002820', '084870', '002710', '069260', '007980', '002900', '024070', '037270', '000500', '000860', '035250', '011420', '002100', '009450', '267290', '012320', '000050', '214390', '012610', '009140', '013580', '012200', '012205', '002140', '010130', '002240', '009290', '017040', '017900', '037710', '030610', '339770', '007690', '005320', '001140', '002720', '083420', '014530', '014280', '014285', '008870', '001570', '002990', '002995', '011780', '011785', '214330', '001210', '073240', '092440', '000270', '024110', '013700', '004540', '004545', '001260', '008350', '008355', '004270', '003920', '003925', '025860', '005720', '005725', '002350', '002355', '092790', '251270', '090350', '090355', '000320', '000325', '006280', '005250', '005257', '004370', '072710', '058730', '030210', '023590', '145210', '019680', '019685', '006370', '008060', '00806K', '353200', '35320K', '000490', '008110', '005750', '006570', '001680', '001685', '084690', '084695', '128820', '117580', '016710', '003540', '003547', '003545', '009190', '014160', '047040', '009320', '003090', '069620', '000430', '006340', '006345', '003220', '024890', '002880', '000300', '012800', '015230', '001070', '006650', '001440', '084010', '001790', '001795', '001130', '003490', '003495', '005880', '003830', '016090', '069460', '192080', '012510', '004830', '004835', '024900', '145720', '002150', '460850', '460860', '001230', '023450', '004140', '007590', '005960', '005965', '026960', '002210', '102260', '000640', '170900', '028100', '001520', '001527', '084670', '082640', '001525', '008970', '092780', '049770', '018500', '006040', '030720', '014820', '014825', '111380', '163560', '004890', '002690', '000020', '000150', '000157', '454910', '241560', '034020', '000155', '336260', '33626K', '33626L', '016740', '192650', '024090', '003160', '092200', '377190', '013570', '210540', '115390', '032350', '089860', '330590', '000400', '023530', '020150', '280360', '286940', '004000', '004990', '00499K', '005300', '005305', '011170', '071840', '027740', '357430', '001080', '088980', '094800', '138040', '090370', '118000', '017180', '009900', '012690', '005360', '070960', '009680', '009580', '009200', '033920', '008420', '025560', '007120', '396690', '357250', '085620', '006800', '00680K', '006805', '002840', '268280', '107590', '134380', '003650', '377740', '003610', '001340', '035150', '002410', '007210', '002760', '003850', '000890', '003000', '001270', '001275', '026940', '011390', '005030', '002070', '100220', '090460', '005180', '003960', '008040', '007160', '014710', '006090', '062040', '001470', '028050', '448730', '006400', '006405', '006660', '028260', '02826K', '207940', '032830', '018260', '009150', '009155', '005930', '005935', '001360', '010140', '016360', '068290', '029780', '000810', '000815', '006110', '145990', '145995', '003230', '002170', '272550', '000070', '000075', '003720', '002810', '005680', '023000', '004380', '002450', '004440', '000520', '009770', '005500', '004690', '010960', '004450', '009470', '011230', '001820', '000390', '001290', '041650', '075180', '007540', '248170', '007860', '200880', '017390', '004410', '004415', '021050', '008490', '007610', '136490', '014910', '014915', '003080', '004980', '004985', '011300', '000180', '002420', '004360', '004365', '004490', '001430', '306200', '003030', '019440', '058650', '013000', '091090', '021820', '067830', '075580', '068270', '336370', '33637K', '33637L', '248070', '004430', '126720', '017550', '053210', '204210', '026890', '134790', '462870', '016590', '029530', '004970', '011930', '005390', '004170', '035510', '034300', '031430', '031440', '006880', '005800', '001720', '009270', '002700', '002870', '019170', '019175', '481850', '404990', '293940', '055550', '004080', '102280', '004770', '403550', '004920', '112610', '308170', '008700', '002790', '00279K', '002795', '090430', '090435', '002030', '183190', '002310', '012170', '267850', '020560', '122900', '010780', '139990', '001780', '018250', '161000', '011090', '137310', '005850', '010580', '012750', '023960', '298690', '140910', '078520', '015260', '007460', '003060', '244920', '278470', '450080', '036570', '085310', '900140', '066970', '097520', '014440', '111770', '009970', '003520', '000670', '006740', '012280', '012160', '015360', '007310', '002630', '271560', '001800', '011690', '316140', '006980', '017370', '105840', '010400', '049800', '016880', '095720', '005820', '010600', '008600', '033270', '014830', '446070', '000910', '047400', '011330', '077500', '002920', '000700', '003470', '003475', '072130', '000220', '000225', '000227', '001200', '000100', '000105', '003460', '003465', '008730', '008250', '025820', '214320', '088260', '139480', '457190', '007660', '005950', '015020', '093230', '074610', '102460', '084680', '350520', '334890', '000760', '014990', '101140', '006490', '023800', '034590', '129260', '023810', '249420', '000230', '013360', '003120', '003200', '007110', '007570', '007575', '008500', '081000', '020760', '103590', '271940', '015860', '226320', '317400', '033240', '000950', '079900', '348950', '194370', '025620', '030000', '271980', '001560', '002620', '006220', '089590', '004910', '004700', '001550', '462520', '120030', '018470', '002600', '185750', '063160', '001630', '109070', '044380', '013890', '013870', '071320', '088790', '003780', '010640', '100250', '051630', '272450', '011000', '002780', '002787', '002785', '009310', '000650', '012600', '033250', '035720', '323410', '377300', '006380', '001620', '029460', '281820', '381970', '145270', '417310', '357120', '007815', '007810', '00781K', '003690', '192820', '044820', '005070', '005420', '071950', '002020', '138490', '003070', '003075', '450140', '45014K', '002025', '120110', '120115', '021240', '036420', '024720', '031820', '192400', '284740', '264900', '26490K', '005740', '005745', '259960', '020120', '039490', '014580', '015890', '006890', '003240', '011280', '004100', '004105', '009410', '009415', '001420', '055490', '078000', '214420', '019180', '363280', '36328K', '091810', '004870', '034230', '005690', '036580', '004720', '028670', '010820', '016800', '001020', '090080', '010770', '022100', '058430', '047050', '003670', '017810', '103140', '005810', '950210', '009810', '086790', '293480', '039130', '352820', '071090', '019490', '000080', '000087', '000140', '000145', '152550', '036460', '005430', '071050', '071055', '010040', '025540', '010100', '004090', '002200', '002960', '000240', '123890', '015760', '006200', '027970', '023350', '025890', '000970', '104700', '017960', '161890', '161390', '034830', '007280', '168490', '047810', '123690', '003350', '011500', '002390', '053690', '042700', '008930', '128940', '009240', '020000', '003680', '105630', '069640', '016450', '010420', '009180', '213500', '014680', '004710', '004150', '025750', '004960', '011700', '001750', '001755', '018880', '009420', '014130', '300720', '002220', '006390', '003300', '051600', '052690', '130660', '002320', '003480', '180640', '18064K', '005110', '009460', '372910', '000880', '00088K', '452260', '45226K', '451800', '088350', '000370', '009830', '009835', '272210', '012450', '082740', '042660', '000885', '489790', '003530', '003535', '195870', '101530', '143210', '000720', '000725', '453340', '086280', '064350', '079430', '012330', '069960', '004560', '004310', '017800', '307950', '011210', '004020', '005440', '005380', '005387', '005389', '005385', '001500', '011760', '227840', '126560', '001450', '057050', '093240', '003010', '111110', '008770', '008775', '378850', '241590', '006060', '013520', '010690', '133820', '010660', '000850', '016580', '032560', '004800', '094280', '298040', '298020', '298000', '093370', '081660', '005870', '079980', '005010', '000540', '000545', '003280']

In [99]:
tickers = stock.get_index_ticker_list("20241010")

for t in tickers:
  name = stock.get_index_ticker_name(t)
  print(t, name)

1001 코스피
1002 코스피 대형주
1003 코스피 중형주
1004 코스피 소형주
1005 음식료품
1006 섬유의복
1007 종이목재
1008 화학
1009 의약품
1010 비금속광물
1011 철강금속
1012 기계
1013 전기전자
1014 의료정밀
1015 운수장비
1016 유통업
1017 전기가스업
1018 건설업
1019 운수창고업
1020 통신업
1021 금융업
1024 증권
1025 보험
1026 서비스업
1027 제조업
1028 코스피 200
1034 코스피 100
1035 코스피 50
1150 코스피 200 커뮤니케이션서비스
1151 코스피 200 건설
1152 코스피 200 중공업
1153 코스피 200 철강/소재
1154 코스피 200 에너지/화학
1155 코스피 200 정보기술
1156 코스피 200 금융
1157 코스피 200 생활소비재
1158 코스피 200 경기소비재
1159 코스피 200 산업재
1160 코스피 200 헬스케어
1167 코스피 200 중소형주
1182 코스피 200 초대형제외 지수
1224 코스피 200 비중상한 30%
1227 코스피 200 비중상한 25%
1232 코스피 200 비중상한 20%
1244 코스피200제외 코스피지수
1894 코스피 200 TOP 10

In [100]:
df = stock.get_market_ohlcv("20240401","20241010","005930")
print(df.head())

               시가     고가     저가     종가       거래량       등락률
날짜
2024-04-01  83200  83300  82000  82000  20116513 -0.485437
2024-04-02  82900  85000  82900  85000  37077944  3.658537
2024-04-03  84300  85000  83500  84100  30493347 -1.058824
2024-04-04  85200  85500  84300  85300  25248934  1.426873
2024-04-05  84500  85000  83800  84500  18883752 -0.937866

### 과제
- 난수 생성으로 sleep 시키기
- 종목도 같이 출력

In [101]:
import time
import numpy as np
'''
for ticker in stock.get_market_ticker_list("20201010")[:5]:

  df = stock.get_market_ohlcv("20241009","20241010",ticker)
  df['종목명']
  randint = np.random.randint(1,10)
  time.sleep(randint)
  '''

'\nfor ticker in stock.get_market_ticker_list("20201010")[:5]:\n\n  df = stock.get_market_ohlcv("20241009","20241010",ticker)\n  df[\'종목명\']\n  randint = np.random.randint(1,10)\n  time.sleep(randint)\n  '

In [102]:
# 답안지

'''
import time
import random
for ticker in stock.get_market_ticker_list("20190225")[:5]:
    df = stock.get_market_ohlcv("20181210", "20181212", ticker)
    종목 = stock.get_market_ticker_name(ticker)
    df['종목명'] = 종목
    print(df.head())
    time.sleep(random.randint(10, 20))
'''

'\nimport time\nimport random\nfor ticker in stock.get_market_ticker_list("20190225")[:5]:\n    df = stock.get_market_ohlcv("20181210", "20181212", ticker)\n    종목 = stock.get_market_ticker_name(ticker)\n    df[\'종목명\'] = 종목\n    print(df.head())\n    time.sleep(random.randint(10, 20))\n'

# API 데이터 크롤링

1.   열린 데이터 광장
2.   공공데이터 포털

In [193]:
# 키, 데이터 url은 사이트에서 직접 따오기

SERVICE_KEY = '71527565663130313835635a4d5846'
url = f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/json/tbLnOpendataRtmsV/1/5/'

print(url)

http://openapi.seoul.go.kr:8088/71527565663130313835635a4d5846/json/tbLnOpendataRtmsV/1/5/

In [194]:
import requests
import pandas as pd
import json

req = requests.get(url)
print(req)

<Response [200]>

In [195]:
type(req)

requests.models.Response

In [196]:
content = req.json()
content

{'tbLnOpendataRtmsV': {'list_total_count': 2622592,
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'RCPT_YR': '2024',
    'CGG_CD': '11350',
    'CGG_NM': '노원구',
    'STDG_CD': '10600',
    'STDG_NM': '중계동',
    'LOTNO_SE': '1',
    'LOTNO_SE_NM': '대지',
    'MNO': '0505',
    'SNO': '0000',
    'BLDG_NM': '롯데(505)',
    'CTRT_DAY': '20241009',
    'THING_AMT': '72000',
    'ARCH_AREA': 72.49,
    'LAND_AREA': 0.0,
    'FLR': 14.0,
    'RGHT_SE': '',
    'RTRCN_DAY': '20241009',
    'ARCH_YR': '1989',
    'BLDG_USG': '아파트',
    'DCLR_SE': '중개거래',
    'OPBIZ_RESTAGNT_SGG_NM': '서울 노원구'},
   {'RCPT_YR': '2024',
    'CGG_CD': '11230',
    'CGG_NM': '동대문구',
    'STDG_CD': '10600',
    'STDG_NM': '장안동',
    'LOTNO_SE': '1',
    'LOTNO_SE_NM': '대지',
    'MNO': '0385',
    'SNO': '0002',
    'BLDG_NM': '리치',
    'CTRT_DAY': '20241008',
    'THING_AMT': '28100',
    'ARCH_AREA': 75.48,
    'LAND_AREA': 0.0,
    'FLR': 3.0,
    'RGHT_SE': '',
    'RTRCN_DAY': '',
    'ARCH_YR': '2008',
    'BLDG_USG': '아파트',
    'DCLR_SE': '직거래',
    'OPBIZ_RESTAGNT_SGG_NM': ''},
   {'RCPT_YR': '2024',
    'CGG_CD': '11620',
    'CGG_NM': '관악구',
    'STDG_CD': '10100',
    'STDG_NM': '봉천동',
    'LOTNO_SE': '1',
    'LOTNO_SE_NM': '대지',
    'MNO': '0869',
    'SNO': '0006',
    'BLDG_NM': '서울대역 마에스트로',
    'CTRT_DAY': '20241008',
    'THING_AMT': '15000',
    'ARCH_AREA': 20.5,
    'LAND_AREA': 31.64,
    'FLR': 10.0,
    'RGHT_SE': '',
    'RTRCN_DAY': '',
    'ARCH_YR': '2012',
    'BLDG_USG': '오피스텔',
    'DCLR_SE': '중개거래',
    'OPBIZ_RESTAGNT_SGG_NM': '서울 관악구'},
   {'RCPT_YR': '2024',
    'CGG_CD': '11740',
    'CGG_NM': '강동구',
    'STDG_CD': '10200',
    'STDG_NM': '고덕동',
    'LOTNO_SE': '1',
    'LOTNO_SE_NM': '대지',
    'MNO': '0486',
    'SNO': '0000',
    'BLDG_NM': '아남1',
    'CTRT_DAY': '20241008',
    'THING_AMT': '114000',
    'ARCH_AREA': 84.91,
    'LAND_AREA': 0.0,
    'FLR': 10.0,
    'RGHT_SE': '',
    'RTRCN_DAY': '',
    'ARCH_YR': '1996',
    'BLDG_USG': '아파트',
    'DCLR_SE': '중개거래',
    'OPBIZ_RESTAGNT_SGG_NM': '서울 강동구'},
   {'RCPT_YR': '2024',
    'CGG_CD': '11530',
    'CGG_NM': '구로구',
    'STDG_CD': '10200',
    'STDG_NM': '구로동',
    'LOTNO_SE': '1',
    'LOTNO_SE_NM': '대지',
    'MNO': '1256',
    'SNO': '0000',
    'BLDG_NM': '구로현대',
    'CTRT_DAY': '20241008',
    'THING_AMT': '48000',
    'ARCH_AREA': 56.49,
    'LAND_AREA': 0.0,
    'FLR': 5.0,
    'RGHT_SE': '',
    'RTRCN_DAY': '',
    'ARCH_YR': '1992',
    'BLDG_USG': '아파트',
    'DCLR_SE': '중개거래',
    'OPBIZ_RESTAGNT_SGG_NM': '서울 양천구'}]}}

In [126]:
res = content['tbLnOpendataRtmsV']['row']
len(res)

500

In [127]:
pd.DataFrame(res)

,RCPT_YR,CGG_CD,CGG_NM,STDG_CD,STDG_NM,LOTNO_SE,LOTNO_SE_NM,MNO,SNO,BLDG_NM,...,THING_AMT,ARCH_AREA,LAND_AREA,FLR,RGHT_SE,RTRCN_DAY,ARCH_YR,BLDG_USG,DCLR_SE,OPBIZ_RESTAGNT_SGG_NM
0,2024,11350,노원구,10600,중계동,1,대지,0505,0000,롯데(505),...,72000,72.49,0.00,14.0,,20241009,1989,아파트,중개거래,서울 노원구
1,2024,11230,동대문구,10600,장안동,1,대지,0385,0002,리치,...,28100,75.48,0.00,3.0,,,2008,아파트,직거래,
2,2024,11620,관악구,10100,봉천동,1,대지,0869,0006,서울대역 마에스트로,...,15000,20.50,31.64,10.0,,,2012,오피스텔,중개거래,서울 관악구
3,2024,11740,강동구,10200,고덕동,1,대지,0486,0000,아남1,...,114000,84.91,0.00,10.0,,,1996,아파트,중개거래,서울 강동구
4,2024,11530,구로구,10200,구로동,1,대지,1256,0000,구로현대,...,48000,56.49,0.00,5.0,,,1992,아파트,중개거래,서울 양천구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2024,11215,광진구,10500,자양동,1,대지,0221,0008,신세계빌라,...,23000,26.66,14.00,4.0,,,2002,연립다세대,중개거래,서울 광진구
496,2024,11380,은평구,10700,응암동,1,대지,0759,0000,백련산힐스테이트1차,...,83000,84.21,0.00,2.0,,,2011,아파트,중개거래,서울 은평구
497,2024,11410,서대문구,11900,북가좌동,1,대지,0369,0020,미림주택,...,68500,43.96,21.00,4.0,,,1999,연립다세대,중개거래,서울 은평구
498,2024,11470,양천구,10300,신월동,1,대지,1076,0000,목동센트럴아이파크위브2단지,...,74000,52.85,0.00,7.0,,,2020,아파트,중개거래,서울 양천구
499,2024,11440,마포구,10400,도화동,1,대지,0559,0000,마포트라팰리스,...,97000,80.30,103.52,6.0,,,2006,오피스텔,중개거래,서울 마포구

### 반복문을 써서 3000개까지의 데이터를 가져와보기.

In [154]:
import time
SERVICE_KEY = '71527565663130313835635a4d5846'
#url = f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/json/tbLnOpendataRtmsV/{index_start}/{index_last}/'

complete_data = []
complete_data = pd.DataFrame(complete_data)
# 위  코드는 complete_data = None으로 대체가 가능하다.

start_time = time.time()

for idx in range(1,5001,1000):

  index_start = idx
  index_last = idx+999

  url = f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/json/tbLnOpendataRtmsV/{index_start}/{index_last}/'
  content = requests.get(url).json()
  res = content['tbLnOpendataRtmsV']['row']
  res_df = pd.DataFrame(res)

  complete_data = pd.concat([complete_data, res_df], axis = 0)

end_time = time.time()
elapsed_time = end_time - start_time
print(f"반복문 실행 시간: {elapsed_time:.2f} 초")

반복문 실행 시간: 84.26 초

In [153]:
complete_data.reset_index(drop = True)
complete_data

,RCPT_YR,CGG_CD,CGG_NM,STDG_CD,STDG_NM,LOTNO_SE,LOTNO_SE_NM,MNO,SNO,BLDG_NM,...,THING_AMT,ARCH_AREA,LAND_AREA,FLR,RGHT_SE,RTRCN_DAY,ARCH_YR,BLDG_USG,DCLR_SE,OPBIZ_RESTAGNT_SGG_NM
0,2024,11350,노원구,10600,중계동,1,대지,0505,0000,롯데(505),...,72000,72.49,0.00,14.0,,20241009,1989,아파트,중개거래,서울 노원구
1,2024,11230,동대문구,10600,장안동,1,대지,0385,0002,리치,...,28100,75.48,0.00,3.0,,,2008,아파트,직거래,
2,2024,11620,관악구,10100,봉천동,1,대지,0869,0006,서울대역 마에스트로,...,15000,20.50,31.64,10.0,,,2012,오피스텔,중개거래,서울 관악구
3,2024,11740,강동구,10200,고덕동,1,대지,0486,0000,아남1,...,114000,84.91,0.00,10.0,,,1996,아파트,중개거래,서울 강동구
4,2024,11530,구로구,10200,구로동,1,대지,1256,0000,구로현대,...,48000,56.49,0.00,5.0,,,1992,아파트,중개거래,서울 양천구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2024,11260,중랑구,10400,묵동,1,대지,0233,0086,골드스타빌(233-86),...,25000,26.11,18.00,5.0,,,2017,연립다세대,중개거래,서울 중랑구
2996,2024,11560,영등포구,12600,양평동2가,1,대지,0045,0000,상록수,...,60000,59.67,0.00,16.0,,,1999,아파트,중개거래,서울 영등포구
2997,2024,11590,동작구,10200,상도동,1,대지,0279,0496,하나빌라,...,52000,56.04,33.00,3.0,,,2008,연립다세대,중개거래,서울 동작구
2998,2024,11680,강남구,10700,신사동,1,대지,0607,0009,"현대맨션(22,23동)",...,220000,120.35,110.00,2.0,,,1984,연립다세대,중개거래,"서울 강남구, 서울 용산구"
2999,2024,11200,성동구,11300,옥수동,1,대지,0528,0000,옥수파크힐스101동~116동,...,202000,84.51,0.00,4.0,,,2016,아파트,중개거래,서울 성동구

In [ ]:
'''
# 모범답안

import requests
import pandas as pd

KEY = '78577a466b6a686a3539434662496e'
result = None
for i in range(1, 4):
  url = f'http://openapi.seoul.go.kr:8088/{KEY}/json/tbLnOpendataRtmsV/{(i-1) * 1000 + 1}/{i*1000}/'
  print(url)
  req = requests.get(url)
  content = req.json()
  data = pd.DataFrame(content['tbLnOpendataRtmsV']['row'])
  result = pd.concat([result, data])

result.info()

'''

## xml을 json대신 사용하면...?
- 원리를 먼저 파악하자!

In [155]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

SERVICE_KEY = '71527565663130313835635a4d5846'
url = f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/xml/tbLnOpendataRtmsV/1/5/2023/11500/강서구/'
req = requests.get(url)
req

In [156]:
soup = BeautifulSoup(req.content, "lxml") # html.parser
print(soup.prettify())

<?xml version="1.0" encoding="UTF-8"?>
<html>
 <body>
  <tblnopendatartmsv>
   <list_total_count>
    5095
   </list_total_count>
   <result>
    <code>
     INFO-000
    </code>
    <message>
     정상 처리되었습니다
    </message>
   </result>
   <row>
    <rcpt_yr>
     2023
    </rcpt_yr>
    <cgg_cd>
     11500
    </cgg_cd>
    <cgg_nm>
     강서구
    </cgg_nm>
    <stdg_cd>
     10300
    </stdg_cd>
    <stdg_nm>
     화곡동
    </stdg_nm>
    <lotno_se>
     1
    </lotno_se>
    <lotno_se_nm>
     대지
    </lotno_se_nm>
    <mno>
     1081
    </mno>
    <sno>
     0006
    </sno>
    <bldg_nm>
     드림파크빌
    </bldg_nm>
    <ctrt_day>
     20231230
    </ctrt_day>
    <thing_amt>
     24000
    </thing_amt>
    <arch_area>
     58.26
    </arch_area>
    <land_area>
     33.280000
    </land_area>
    <flr>
     5
    </flr>
    <rght_se>
    </rght_se>
    <rtrcn_day>
    </rtrcn_day>
    <arch_yr>
     2011
    </arch_yr>
    <bldg_usg>
     연립다세대
    </bldg_usg>
    <dclr_se>
     중개거래
    </dclr_se>
    <opbiz_restagnt_sgg_nm>
     서울 강서구
    </opbiz_restagnt_sgg_nm>
   </row>
   <row>
    <rcpt_yr>
     2023
    </rcpt_yr>
    <cgg_cd>
     11500
    </cgg_cd>
    <cgg_nm>
     강서구
    </cgg_nm>
    <stdg_cd>
     10300
    </stdg_cd>
    <stdg_nm>
     화곡동
    </stdg_nm>
    <lotno_se>
     1
    </lotno_se>
    <lotno_se_nm>
     대지
    </lotno_se_nm>
    <mno>
     0151
    </mno>
    <sno>
     0008
    </sno>
    <bldg_nm>
     힐타운(151-8)
    </bldg_nm>
    <ctrt_day>
     20231229
    </ctrt_day>
    <thing_amt>
     18000
    </thing_amt>
    <arch_area>
     46.25
    </arch_area>
    <land_area>
     22.820000
    </land_area>
    <flr>
     3
    </flr>
    <rght_se>
    </rght_se>
    <rtrcn_day>
    </rtrcn_day>
    <arch_yr>
     2002
    </arch_yr>
    <bldg_usg>
     연립다세대
    </bldg_usg>
    <dclr_se>
     중개거래
    </dclr_se>
    <opbiz_restagnt_sgg_nm>
     서울 강서구
    </opbiz_restagnt_sgg_nm>
   </row>
   <row>
    <rcpt_yr>
     2023
    </rcpt_yr>
    <cgg_cd>
     11500
    </cgg_cd>
    <cgg_nm>
     강서구
    </cgg_nm>
    <stdg_cd>
     10300
    </stdg_cd>
    <stdg_nm>
     화곡동
    </stdg_nm>
    <lotno_se>
     1
    </lotno_se>
    <lotno_se_nm>
     대지
    </lotno_se_nm>
    <mno>
     0056
    </mno>
    <sno>
     0594
    </sno>
    <bldg_nm>
     파랑새빌라트(A동)
    </bldg_nm>
    <ctrt_day>
     20231229
    </ctrt_day>
    <thing_amt>
     24400
    </thing_amt>
    <arch_area>
     73.13
    </arch_area>
    <land_area>
     35.550000
    </land_area>
    <flr>
     2
    </flr>
    <rght_se>
    </rght_se>
    <rtrcn_day>
    </rtrcn_day>
    <arch_yr>
     2000
    </arch_yr>
    <bldg_usg>
     연립다세대
    </bldg_usg>
    <dclr_se>
     중개거래
    </dclr_se>
    <opbiz_restagnt_sgg_nm>
     서울 강서구
    </opbiz_restagnt_sgg_nm>
   </row>
   <row>
    <rcpt_yr>
     2023
    </rcpt_yr>
    <cgg_cd>
     11500
    </cgg_cd>
    <cgg_nm>
     강서구
    </cgg_nm>
    <stdg_cd>
     10400
    </stdg_cd>
    <stdg_nm>
     가양동
    </stdg_nm>
    <lotno_se>
     1
    </lotno_se>
    <lotno_se_nm>
     대지
    </lotno_se_nm>
    <mno>
     1460
    </mno>
    <sno>
     0000
    </sno>
    <bldg_nm>
     한강타운
    </bldg_nm>
    <ctrt_day>
     20231229
    </ctrt_day>
    <thing_amt>
     105500
    </thing_amt>
    <arch_area>
     84.99
    </arch_area>
    <land_area>
     0.000000
    </land_area>
    <flr>
     11
    </flr>
    <rght_se>
    </rght_se>
    <rtrcn_day>
    </rtrcn_day>
    <arch_yr>
     1993
    </arch_yr>
    <bldg_usg>
     아파트
    </bldg_usg>
    <dclr_se>
     중개거래
    </dclr_se>
    <opbiz_restagnt_sgg_nm>
     서울 강서구, 서울 마포구
    </opbiz_restagnt_sgg_nm>
   </row>
   <row>
    <rcpt_yr>
     2023
    </rcpt_yr>
    <cgg_cd>
     11500
    </cgg_cd>
    <cgg_nm>
     강서구
    </cgg_nm>
    <stdg_cd>
     10900
    </stdg_cd>
    <stdg_nm>
     방화동
    </stdg_nm>
    <lotno_se>
     1
    </lotno_se>
    <lotno_se_nm>
     대지
    </lotno_se_nm>
    <mno>
     0612
    </mno>
    <sno>
     0000
    </sno>
    <bldg_nm>
     마곡킹덤펜타리움
    </bldg_nm>
    <ctrt_day>
     20231229
    </ctrt_day>
    <thing_amt>
     28000
    </thing_amt>
    <arch_area>
     23.53
    </arch_area>
    <land_area>
     7.940000
    </land_area>
    <flr>
     10
    </flr>
    <rght_se>
    </rght_se>
    <rtrcn_day>
    </rtrcn_day>
    <arch_yr>
     2021
    </arch_yr>
    <bldg_usg>
     연립다세대
    </bldg_usg>
    <dclr_se>
     중개거래
    </dclr_se>
    <opbiz_restagnt_sgg_nm>
     서울 강서구
    </opbiz_restagnt_sgg_nm>
   </row>
  </tblnopendatartmsv>
 </body>
</html>

<ipython-input-156-67afbbe320e3>:1: XMLParsedAsHTMLWarning: It looks like you're parsing an XML document using an HTML parser. If this really is an HTML document (maybe it's XHTML?), you can ignore or filter this warning. If it's XML, you should know that using an XML parser will be more reliable. To parse this document as XML, make sure you have the lxml package installed, and pass the keyword argument `features="xml"` into the BeautifulSoup constructor.
  soup = BeautifulSoup(req.content, "lxml") # html.parser

In [159]:
years = soup.find_all('rcpt_yr')         # 접수년월
CGG_CDs = soup.find_all('cgg_cd')
len(years), len(CGG_CDs)

(5, 5)

In [160]:
years = soup.find_all('rcpt_yr')         # 접수년월
CGG_CDs = soup.find_all('cgg_cd')

year_list           = []
sgg_cd_list         = []

for year, cgg_cd in zip(years, CGG_CDs):
  year_list.append(year.get_text())
  sgg_cd_list.append(cgg_cd.get_text())

df = pd.DataFrame({
    "rcpt_yr": year_list,
    "cgg_cd" : sgg_cd_list
})

df

  rcpt_yr cgg_cd
0    2023  11500
1    2023  11500
2    2023  11500
3    2023  11500
4    2023  11500

In [163]:
SERVICE_KEY = '71527565663130313835635a4d5846'
url = f'http://apis.data.go.kr/1613000/RTMSDataSvcAptTrade/getRTMSDataSvcAptTrade'
req = requests.get(url)
req

In [164]:
soup = BeautifulSoup(req.content, "lxml") # html.parser
print(soup.prettify())

<html>
 <body>
  <openapi_serviceresponse>
   <cmmmsgheader>
    <errmsg>
     SERVICE ERROR
    </errmsg>
    <returnauthmsg>
     SERVICE_KEY_IS_NOT_REGISTERED_ERROR
    </returnauthmsg>
    <returnreasoncode>
     30
    </returnreasoncode>
   </cmmmsgheader>
  </openapi_serviceresponse>
 </body>
</html>

### 사전 제작 코드 활용

In [165]:
#!pip install xmltodict -qq

In [173]:
import requests
import json
import xmltodict
import pandas as pd
serviceKey = 'HRYWiTp0KEDDEYYyUQV9msoe%2B2YK6PPbdhjgspJt5p%2F3YskNrgY3nyiVew4VxbwA6m4F5kRUXNZaEa2Z0kPFVg%3D%3D'
pageNo = 1 # 페이지 번호
numOfRows = 500 # 한 페이지 결과수
LAWD_CD = 11500 # 지역코드
DEAL_YMD = 202101 # 계약월
url = f'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?serviceKey={serviceKey}&pageNo={pageNo}&numOfRows={numOfRows}&LAWD_CD={LAWD_CD}&DEAL_YMD={DEAL_YMD}'
req = requests.get(url)
req

In [174]:
req.text

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>99</resultCode><resultMsg>SERVICE KEY IS NOT REGISTERED ERROR.</resultMsg></header></response>'

In [175]:
contents = xmltodict.parse(req.text)
contents

{'response': {'header': {'resultCode': '99',
   'resultMsg': 'SERVICE KEY IS NOT REGISTERED ERROR.'}}}

In [ ]:
data = pd.DataFrame(contents['response']['body']['items']['item'])
data.head()

In [176]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Columns: 1000 entries, 0 to 999
dtypes: object(1000)
memory usage: 23.6+ KB

In [177]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
count,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
unique,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
top,"{'RCPT_YR': '2024', 'CGG_CD': '11350', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11230', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11620', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11740', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11530', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11260', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11620', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11545', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11290', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11230', 'CGG_NM...",...,"{'RCPT_YR': '2024', 'CGG_CD': '11230', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11230', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11230', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11230', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11230', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11230', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11230', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11230', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11230', 'CGG_NM...","{'RCPT_YR': '2024', 'CGG_CD': '11350', 'CGG_NM..."
freq,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

# 개인공부_오픈API데이터 가져오기

- 전국 휴게소 푸드메뉴 현황 조회 서비스
- https://data.ex.co.kr/openapi/basicinfo/openApiInfoM?apiId=0502
- ***맛있겠다*...**

In [218]:
import requests
import json
import xmltodict
import pandas as pd

SERVICE_KEY = '0170719555'
NumRows = 500
PageNum = 1
url = f"https://data.ex.co.kr/openapi/restinfo/restBestfoodList?key={SERVICE_KEY}&type=json&numOfRows={NumRows}&pageNo={PageNum}"

content2 = requests.get(url).json()

In [219]:
data = pd.DataFrame(content2['list'])
data.columns

Index(['pageNo', 'numOfRows', 'stdRestCd', 'stdRestNm', 'lsttmAltrUser',
       'lsttmAltrDttm', 'svarAddr', 'routeCd', 'routeNm', 'seq', 'foodNm',
       'foodCost', 'etc', 'recommendyn', 'seasonMenu', 'bestfoodyn',
       'premiumyn', 'app', 'restCd', 'foodMaterial', 'lastId', 'lastDtime'],
      dtype='object')

In [220]:
# drop unusing columns
no_need_cols = ['pageNo', 'numOfRows', 'lsttmAltrUser', 'lsttmAltrDttm', 'app', 'lastId','lastDtime']
data2 = data.copy()
data2 = data2.drop(columns=no_need_cols)
data2.tail(1)

,stdRestCd,stdRestNm,svarAddr,routeCd,routeNm,seq,foodNm,foodCost,etc,recommendyn,seasonMenu,bestfoodyn,premiumyn,restCd,foodMaterial
98,000001,서울만남(부산)휴게소,서울 서초구 원지동10-16,0010,경부선,13956,소고기짬뽕곱배기,14000,None,N,4,N,N,S000001,None

## 반복문을 통해 큰 데이터프레임으로 만들기

In [227]:
import time

Base_dat = None
no_need_cols = ['pageNo', 'numOfRows', 'lsttmAltrUser', 'lsttmAltrDttm', 'app', 'lastId','lastDtime', 'foodMaterial']

start_time = time.time()

for i in range(1, 10):
  SERVICE_KEY = '0170719555'
  NumRows = 100
  PageNum = i
  url = f"https://data.ex.co.kr/openapi/restinfo/restBestfoodList?key={SERVICE_KEY}&type=json&numOfRows={NumRows}&pageNo={PageNum}"

  content = requests.get(url).json()
  data = pd.DataFrame(content['list'])

  data = data.drop(columns = no_need_cols)
  Base_dat = pd.concat([Base_dat, data], axis = 0)

end_time = time.time()
total_time = end_time - start_time
print(f"반복문 실행 시간: {total_time:.2f} 초")

Base_dat = Base_dat.reset_index(drop = True)

반복문 실행 시간: 8.69 초

In [228]:
Base_dat.head(1)

,stdRestCd,stdRestNm,svarAddr,routeCd,routeNm,seq,foodNm,foodCost,etc,recommendyn,seasonMenu,bestfoodyn,premiumyn,restCd
0,000001,서울만남(부산)휴게소,서울 서초구 원지동10-16,0010,경부선,272,농심어묵우동,7000,부산어묵꼬치를 첨가하여 우동만의 시원하고 담백한 맛에 어묵의 식감과 향을 함께 즐길...,N,4,N,N,S000001