In [1]:
import polars as pl
import pandas as pd

In [2]:
tmp = pd.read_csv("C:/Users/campus3S031/Desktop/iM뱅크 프로젝트용 데이터/raw_data/iMBANK_CUSTOMER_DATA_2021(K-DigitalTraining).csv",
                  encoding='cp949')

In [3]:
def show_me(nums):
    return tmp[tmp['고객ID'] == nums]

In [4]:
show_me(4762826158)

,기준년월,고객ID,연령대,성별,고객등급,자택_시도,자택_시군구,수신_요구불예금,수신_거치식예금,수신_적립식예금,수신_펀드,수신_외화예금,대출금액
1280253,202112,4762826158,30대,여,일반등급,대구광역시,달성군,1900000,17000000,3100000,0,0,0
3042614,202111,4762826158,30대,여,일반등급,대구광역시,달성군,2400000,17000000,3100000,0,0,0
4800673,202110,4762826158,30대,여,일반등급,대구광역시,달성군,2000000,17000000,3000000,0,0,0
6556663,202109,4762826158,30대,여,일반등급,대구광역시,달성군,2400000,17000000,3000000,0,0,0
8308490,202108,4762826158,30대,여,일반등급,대구광역시,달성군,2200000,16000000,4000000,0,0,0
10054380,202107,4762826158,30대,여,일반등급,대구광역시,달성군,2600000,15000000,5300000,0,0,0
11794211,202106,4762826158,30대,여,일반등급,대구광역시,달성군,2400000,15000000,5300000,0,0,0
13528995,202105,4762826158,30대,여,일반등급,대구광역시,달성군,3600000,15000000,5200000,0,0,0
15257709,202104,4762826158,30대,여,일반등급,대구광역시,달성군,5600000,15000000,5200000,0,0,0
16981966,202103,4762826158,30대,여,일반등급,대구광역시,달성군,5100000,15000000,5100000,0,0,0
18700956,202102,4762826158,30대,여,일반등급,대구광역시,달성군,2300000,18000000,4800000,0,0,0
20412056,202101,4762826158,30대,여,일반등급,대구광역시,달성군,2300000,34000000,4100000,0,0,0

In [5]:
show_me(6216591044)

,기준년월,고객ID,연령대,성별,고객등급,자택_시도,자택_시군구,수신_요구불예금,수신_거치식예금,수신_적립식예금,수신_펀드,수신_외화예금,대출금액
922003,202112,6216591044,20대,여,일반등급,서울특별시,성북구,200000,0,0,8600000,0,0
2684453,202111,6216591044,20대,여,일반등급,서울특별시,성북구,400000,0,0,8700000,0,0
4442496,202110,6216591044,20대,여,일반등급,서울특별시,성북구,400000,0,0,8800000,0,0
6198290,202109,6216591044,20대,여,일반등급,서울특별시,성북구,400000,0,0,9100000,0,0
7950022,202108,6216591044,20대,여,일반등급,서울특별시,성북구,400000,0,0,9000000,0,0
9695944,202107,6216591044,20대,여,일반등급,서울특별시,성북구,400000,0,0,9200000,0,0
11435722,202106,6216591044,20대,여,일반등급,서울특별시,성북구,200000,0,0,9200000,0,0
13170519,202105,6216591044,20대,여,일반등급,서울특별시,성북구,200000,0,0,9100000,0,0
14899173,202104,6216591044,20대,여,일반등급,서울특별시,성북구,400000,0,0,9300000,0,0
16623398,202103,6216591044,20대,여,일반등급,서울특별시,성북구,400000,0,0,9000000,0,0
18342449,202102,6216591044,20대,여,일반등급,서울특별시,성북구,400000,0,0,9300000,0,0
20053493,202101,6216591044,20대,여,일반등급,서울특별시,성북구,200000,0,0,9100000,0,0

In [ ]:
show_me(3984167677)

,기준년월,고객ID,연령대,성별,고객등급,자택_시도,자택_시군구,수신_요구불예금,수신_거치식예금,수신_적립식예금,수신_펀드,수신_외화예금,대출금액
1473202,202112,3984167677,20대,여,일반등급,대구광역시,동구,600000,5000000,14000000,700000,0,0
3235533,202111,3984167677,20대,여,일반등급,대구광역시,동구,400000,5000000,13000000,700000,0,0
4993613,202110,3984167677,20대,여,일반등급,대구광역시,동구,600000,5000000,13000000,700000,0,0
6749668,202109,3984167677,20대,여,일반등급,대구광역시,동구,500000,5000000,12000000,700000,0,0
8501488,202108,3984167677,20대,여,일반등급,대구광역시,동구,700000,7600000,13000000,700000,0,0
10247388,202107,3984167677,20대,여,일반등급,대구광역시,동구,700000,10000000,13000000,700000,0,0
11987233,202106,3984167677,20대,여,일반등급,대구광역시,동구,700000,10000000,12000000,700000,0,0
13721988,202105,3984167677,20대,여,일반등급,대구광역시,동구,600000,10000000,12000000,500000,0,0
15450706,202104,3984167677,20대,여,일반등급,대구광역시,동구,600000,10000000,11000000,400000,0,0
17174939,202103,3984167677,20대,여,일반등급,대구광역시,동구,700000,10000000,12000000,200000,0,0
18893896,202102,3984167677,20대,여,일반등급,대구광역시,동구,800000,13000000,12000000,100000,0,0
20605008,202101,3984167677,20대,여,일반등급,대구광역시,동구,700000,15000000,11000000,100000,0,0

In [17]:
def analyze_changes(customer_id):
    # 해당 고객 데이터 가져오기
    customer_data = show_me(customer_id).sort_values('기준년월')
    
    # 수치형 컬럼들
    numeric_columns = ['수신_요구불예금', '수신_거치식예금', '수신_적립식예금', '수신_펀드', '수신_외화예금', '대출금액']
    
    analysis = {}
    
    for col in numeric_columns:
        data = customer_data[col]
        diff_data = data.diff()

        total_change = abs(diff_data).sum()
        direction_index = diff_data.sum() / total_change if total_change != 0 else 0
        
        changes = {
            '전체_변화량': data.iloc[-1] - data.iloc[0],  # 최종 - 최초
            '월평균_변화량': data.diff().mean(),  # 월별 변화의 평균
            '변화_횟수': (data.diff() != 0).sum(),  # 변화가 있었던 횟수
            '최대_상승폭': data.diff().max(),  # 가장 큰 증가
            '최대_하락폭': data.diff().min(),  # 가장 큰 감소
            '변동성': data.std(),  # 표준편차로 본 변동성
            '방향성_지수': direction_index,  # 변화의 방향성 (-1 ~ 1)
        }
        
        analysis[col] = changes
        analysis = pd.DataFrame(analysis)
    return analysis.fillna(0)

# 사용 예시
customer_changes = analyze_changes(4762826158)
customer_changes

             수신_요구불예금      수신_거치식예금      수신_적립식예금  수신_펀드  수신_외화예금  대출금액
전체_변화량  -4.000000e+05 -1.700000e+07 -1.000000e+06    0.0      0.0   0.0
월평균_변화량 -3.636364e+04 -1.545455e+06 -9.090909e+04    0.0      0.0   0.0
변화_횟수    1.100000e+01  5.000000e+00  8.000000e+00    1.0      1.0   1.0
최대_상승폭   2.800000e+06  1.000000e+06  7.000000e+05    0.0      0.0   0.0
최대_하락폭  -2.000000e+06 -1.600000e+07 -1.300000e+06    0.0      0.0   0.0
변동성      1.224002e+06  5.282188e+06  9.948351e+05    0.0      0.0   0.0
방향성_지수  -4.651163e-02 -8.095238e-01 -2.777778e-01    0.0      0.0   0.0