# TRY - CATCH EXCEPT

In [3]:
numerator = 10
denominator = 2 # 0
result  = numerator / denominator
a = 1
b = 2
print( a + b)

3

- 기존 코드의 문제:
    - 순차적으로 진행되던 코드에 오류가 발생하면 그 오류 아래의 코드들은 모두 작동하지 않는다!

In [11]:
try:
    numerator = 10
    denominator = 0
    result  = numerator / denominator

except ZeroDivisionError:
    print("Error! cannot divide by zero!")

else:
    print(f"result is : {result}")

finally:
    print(f"this always pop up!")
    result  = numerator / denominator
    a = 1
    b = 2
    print( a + b)

tmp_list = [1,2,3]
print(tmp_list)

result is : 5.0
this always pop up!
3
[1, 2, 3]

In [19]:
try:
    numerator = 10
    denominator = int(input("숫자를 입력하시오"))
    result  = numerator / denominator

except ZeroDivisionError:
    print("Error! cannot divide by zero!")

else:
    print(f"result is : {result}")

finally:
    print(f"this always pop up!")
    a = 1
    b = 2
    print(a + b)

tmp_list = [1,2,3]
print(tmp_list)

Error! cannot divide by zero!
this always pop up!
3
[1, 2, 3]

# DB PYTHON 연동하기
### STEP 1. CONNECT TO SERVER

In [26]:
from mysql import connector
PASSWORD = '12345678'
PASSWORD = input("DB password goes here:")

try: 
    #DATABASE 연동하는 코드 작성
    with connector.connect(
        host = 'localhost', # 회사 ip주소 부여
        user = 'root',   # 회사 아이디 부여
        password = PASSWORD
    ) as database:
        print(f"데이터베이스 객체(object): {database}")

except connector.Error as e:
    print(e)

finally:
    print("무조건 실행해야 함")

1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)
무조건 실행해야 함

### STEP 2. CREATE DATABASE

In [30]:
PASSWORD = '12345678'
PASSWORD = input("DB password goes here:")

try: 
    #DATABASE 연동하는 코드 작성
    with connector.connect(
        host = 'localhost', # 회사 ip주소 부여
        user = 'root',   # 회사 아이디 부여
        password = PASSWORD
    ) as database:
        print(f"DATABSE Object : {database}")
        print("DATABASE Create:--------------------")
        # 파이썬에서 SQL코드를 일종의 문자열로 적용이 가능하다.
        delete_db = "DROP DATABASE book_ratings;" # 존재한다면 이 db를 지운다.
        create_db = "CREATE DATABASE book_ratings;" # 새로 만들어주기

        with database.cursor() as cursor: # 만든 코드를 커서를 통해 SQL에 입력시켜서 실행시킨다!
            cursor.execute(create_db)

            # 현재 접속중인 db를 확인
            show_existing_db = "SHOW DATABASES;"
            cursor.execute(show_existing_db)

            # 중요!! - 반목문을 활용해서 모두 출력해 주어야 한다.
            for db in cursor:
                print(db)

except connector.Error as e:
    print(e)

finally:
    print("여기 코드는 진짜 무조건 실행해야 함")

DATABSE Object : <mysql.connector.connection_cext.CMySQLConnection object at 0x00000191EBE69700>
DATABASE Create:--------------------
('book_ratings',)
('classicmodels',)
('dataset_2',)
('imbank_data',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)
여기 코드는 진짜 무조건 실행해야 함

## SQL서버 + DB에 직접 접속하는 방법

In [32]:
PASSWORD = '12345678'
PASSWORD = input("DB password goes here:")
DATABASE_NAME = "book_ratings"

try: 
    #DATABASE 연동하는 코드 작성
    with connector.connect(
        host = 'localhost', # 회사 ip주소 부여
        user = 'root',   # 회사 아이디 부여
        password = PASSWORD,
        database = DATABASE_NAME # 기존 접속하는 방법과 가장 큰 차이점! USE DB를 더이상 쓰지 않는다.
    ) as database:
        print(f"DATABSE Object : {database}")
        print("DATABASE Create:--------------------")
        # 파이썬에서 SQL코드를 일종의 문자열로 적용이 가능하다.
        delete_db = "DROP DATABASE book_ratings;" # 존재한다면 이 db를 지운다.
        create_db = "CREATE DATABASE book_ratings;" # 새로 만들어주기

        with database.cursor() as cursor: # 만든 코드를 커서를 통해 SQL에 입력시켜서 실행시킨다!
            #cursor.execute(create_db)

            # 현재 접속중인 db를 확인
            show_existing_db = "SHOW DATABASES;"
            cursor.execute(show_existing_db)

            # 중요!! - 반목문을 활용해서 모두 출력해 주어야 한다.
            for db in cursor:
                print(db)

except connector.Error as e:
    print(e)

finally:
    print("여기 코드는 진짜 무조건 실행해야 함")

DATABSE Object : <mysql.connector.connection_cext.CMySQLConnection object at 0x00000191EC050BF0>
DATABASE Create:--------------------
('book_ratings',)
('classicmodels',)
('dataset_2',)
('imbank_data',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)
여기 코드는 진짜 무조건 실행해야 함

### STEP 3. CREATE TABLE

In [33]:
create_book_table = """
CREATE TABLE books(
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(100),
    author VARCHAR(100),
    genre VARCHAR(100),
    release_year YEAR(4)
)
;
"""

In [37]:
PASSWORD = '12345678'
DATABASE_NAME = "book_ratings"

try: 
    #DATABASE 연동하는 코드 작성
    with connector.connect(
        host = 'localhost', # 회사 ip주소 부여
        user = 'root',   # 회사 아이디 부여
        password = PASSWORD,
        database = DATABASE_NAME # 기존 접속하는 방법과 가장 큰 차이점! USE DB를 더이상 쓰지 않는다.
    ) as database:
        print(f"DATABSE Object : {database}")
        print("DATABASE Create:--------------------")
        # 파이썬에서 SQL코드를 일종의 문자열로 적용이 가능하다.
        # delete_db = "DROP DATABASE book_ratings;" # 존재한다면 이 db를 지운다.
        # create_db = "CREATE DATABASE book_ratings;" # 새로 만들어주기

        with database.cursor() as cursor: # 만든 코드를 커서를 통해 SQL에 입력시켜서 실행시킨다!
            cursor.execute(create_book_table)
            # 커밋
            # 로컬에서 작업한 코드를 서버에 반영시키는 과정
            database.commit()

            # 쿼리, DESCRIBE books
            query1 = "DESCRIBE books;"
            cursor.execute(query1)
            books_schema = cursor.fetchall()
            for column in books_schema:
                print(column)

            '''
            # 현재 접속중인 db를 확인
            show_existing_db = "SHOW DATABASES;"
            cursor.execute(show_existing_db)

            # 중요!! - 반목문을 활용해서 모두 출력해 주어야 한다.
            for db in cursor:
                print(db)
            '''
except connector.Error as e:
    print(e)

finally:
    print("여기 코드는 진짜 무조건 실행해야 함")

DATABSE Object : <mysql.connector.connection_cext.CMySQLConnection object at 0x00000191EC0F73B0>
DATABASE Create:--------------------
('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('title', 'varchar(100)', 'YES', '', None, '')
('author', 'varchar(100)', 'YES', '', None, '')
('genre', 'varchar(100)', 'YES', '', None, '')
('release_year', 'year', 'YES', '', None, '')
여기 코드는 진짜 무조건 실행해야 함

In [42]:
PASSWORD = '12345678'
DATABASE_NAME = "classicmodels"

try: 
    #DATABASE 연동하는 코드 작성
    with connector.connect(
        host = 'localhost', # 회사 ip주소 부여
        user = 'root',   # 회사 아이디 부여
        password = PASSWORD,
        database = DATABASE_NAME # 기존 접속하는 방법과 가장 큰 차이점! USE DB를 더이상 쓰지 않는다.
    ) as database:
        print(f"DATABSE Object : {database}")
        # 파이썬에서 SQL코드를 일종의 문자열로 적용이 가능하다.
        # delete_db = "DROP DATABASE book_ratings;" # 존재한다면 이 db를 지운다.
        # create_db = "CREATE DATABASE book_ratings;" # 새로 만들어주기

        with database.cursor() as cursor: # 만든 코드를 커서를 통해 SQL에 입력시켜서 실행시킨다!
            query2 = """
                    SELECT
	                    productline,
	                    count(*)
                    from products
                    group by productline
                    ;
                    """
            cursor.execute(query2)
            books_schema = cursor.fetchall()
            for column in books_schema:
                print(column)
            
except connector.Error as e:
    print(e)

finally:
    print("여기 코드는 진짜 무조건 실행해야 함")

DATABSE Object : <mysql.connector.connection_cext.CMySQLConnection object at 0x00000191EC0FCFB0>
('Classic Cars', 38)
('Motorcycles', 13)
('Planes', 12)
('Ships', 9)
('Trains', 3)
('Trucks and Buses', 11)
('Vintage Cars', 24)
여기 코드는 진짜 무조건 실행해야 함

### STEP 4. ADD DATA

In [ ]:
# INSERT SINGLE RECORD
insert_single_record = "INSERT INTO books (id, title, author, genre, release_year)\
    VALUES (%s, %s, %s, %s, %s)"
single_record = (
    "1", "Choose Yourself! Be Happy, Make Millions, Live the Dream", "James Altucher", "self-help", "2013"
    )

try: 
    # Connect to existing database
    with connector.connect(
        host = "localhost",
        user = "root",
        password = PASSWORD,
        database = "book_ratings"
    ) as existing_database:
        
        # Create cursor object
        with existing_database.cursor() as cursor:
            cursor.execute(insert_single_record, single_record)
            existing_database.commit()
        
except connector.Error as e: 
    print(e)

# INSERT MULTIPLE RECORDS
insert_multiple_records = "INSERT INTO books (id, title, author, genre, release_year)\
    VALUES (%s, %s, %s, %s, %s)"
multiple_records = [
    (
        "2", 
        "Skip the Line: The 10,000 Experiments Rule and Other Surprising Advice for Reaching Your Goals",
        "James Altucher",
        "self-help",
        "2021"        
    ),
    (
        "3",
        "The Power of No: Because One Little Word Can Bring Health, Abundance, and Happiness",
        "James Altucher",
        "self-help",
        "2014"
    ),
    (
        "4",
        "The 48 Laws of Power",
        "Robert Greene",
        "self-help",
        "1998"
    ),
    (
        "5",
        "Mastery",
        "Robert Greene",
        "self-help",
        "2012"
    ),
    (
        "6",
        "The Art of Seduction",
        "Robert Greene",
        "self-help",
        "2001"
    ),
]

try: 
    # Connect to existing database
    with connector.connect(
        host = "localhost",
        user = "root",
        password = PASSWORD,
        database = "book_ratings"
    ) as existing_database:
        
        # Create cursor object
        with existing_database.cursor() as cursor:
            cursor.executemany(insert_multiple_records, multiple_records)
            existing_database.commit()
        
except connector.Error as e: 
    print(e)

### STEP 5. Select DATA

In [50]:
PASSWORD = '12345678'
DATABASE_NAME = "book_ratings"

try: 
    #DATABASE 연동하는 코드 작성
    with connector.connect(
        host = 'localhost', # 회사 ip주소 부여
        user = 'root',   # 회사 아이디 부여
        password = PASSWORD,
        database = DATABASE_NAME # 기존 접속하는 방법과 가장 큰 차이점! USE DB를 더이상 쓰지 않는다.
    ) as database:
        print(f"DATABSE Object : {database}")
        print("DATABASE Create:--------------------")
        # 파이썬에서 SQL코드를 일종의 문자열로 적용이 가능하다.
        # delete_db = "DROP DATABASE book_ratings;" # 존재한다면 이 db를 지운다.
        # create_db = "CREATE DATABASE book_ratings;" # 새로 만들어주기

        with database.cursor() as cursor: # 만든 코드를 커서를 통해 SQL에 입력시켜서 실행시킨다!
            query2 = """
                    SELECT
	                    productline,
	                    count(*)
                    from products
                    group by productline
                    ;
                    """
            cursor.execute("select * from books")
            cursor_result = cursor.fetchall()
            for column in cursor_result:
                print(column)
                
except connector.Error as e:
    print(e)

finally:
    print("여기 코드는 진짜 무조건 실행해야 함")

DATABSE Object : <mysql.connector.connection_cext.CMySQLConnection object at 0x00000191EC0F8F50>
DATABASE Create:--------------------
(1, 'Choose Yourself! Be Happy, Make Millions, Live the Dream', 'James Altucher', 'self-help', 2013)
(2, 'Skip the Line: The 10,000 Experiments Rule and Other Surprising Advice for Reaching Your Goals', 'James Altucher', 'self-help', 2021)
(3, 'The Power of No: Because One Little Word Can Bring Health, Abundance, and Happiness', 'James Altucher', 'self-help', 2014)
(4, 'The 48 Laws of Power', 'Robert Greene', 'self-help', 1998)
(5, 'Mastery', 'Robert Greene', 'self-help', 2012)
(6, 'The Art of Seduction', 'Robert Greene', 'self-help', 2001)
여기 코드는 진짜 무조건 실행해야 함

### STEP 6. MAKE AS DATAFRAME

In [57]:
PASSWORD = '12345678'  
def fetch_data_to_dataframe(query, database=None):
    try: 

        with connector.connect(
            host="localhost",
            user="root",
            password=PASSWORD,
            database=database
        ) as existing_database:
            
            with existing_database.cursor() as cursor:
                cursor.execute(query)
                
                # 테이블의 칼럼명을 추출하는 함수 -> List 형태로 변경
                column_names = [i[0] for i in cursor.description]
                
                # Values, 데이터 값
                returned_data = cursor.fetchall()
                
                # pandas 데이터프레임으로 변경
                df = pd.DataFrame(returned_data, columns=column_names)
                return df
    
    except connector.Error as e: 
        print(e)
        return None

# --------------------------------------------- 여기까지가 SQL 제어문

query_specific_cols = "SELECT author, release_year FROM books"
df_specific_cols = fetch_data_to_dataframe(query_specific_cols, "book_ratings")
if df_specific_cols is not None:
    print("DataFrame with specific columns:")
    print(df_specific_cols)

query_all_cols = "SELECT * FROM books"
df_all_cols = fetch_data_to_dataframe(query_all_cols, "book_ratings")
if df_all_cols is not None:
    print("DataFrame with all columns:")
    print(df_all_cols)

DataFrame with specific columns:
           author  release_year
0  James Altucher          2013
1  James Altucher          2021
2  James Altucher          2014
3   Robert Greene          1998
4   Robert Greene          2012
5   Robert Greene          2001
DataFrame with all columns:
   id                                              title          author  \
0   1  Choose Yourself! Be Happy, Make Millions, Live...  James Altucher
1   2  Skip the Line: The 10,000 Experiments Rule and...  James Altucher
2   3  The Power of No: Because One Little Word Can B...  James Altucher
3   4                               The 48 Laws of Power   Robert Greene
4   5                                            Mastery   Robert Greene
5   6                               The Art of Seduction   Robert Greene

       genre  release_year
0  self-help          2013
1  self-help          2021
2  self-help          2014
3  self-help          1998
4  self-help          2012
5  self-help          2001

In [52]:
df_specific_cols

           author  release_year
0  James Altucher          2013
1  James Altucher          2021
2  James Altucher          2014
3   Robert Greene          1998
4   Robert Greene          2012
5   Robert Greene          2001

In [58]:
query_all_cols = "SELECT productline, count(*) FROM products GROUP BY 1;"
df_all_cols = fetch_data_to_dataframe(query_all_cols, "classicmodels")
if df_all_cols is not None:
    print("DataFrame with all columns:")
    print(df_all_cols)

DataFrame with all columns:
        productline  count(*)
0      Classic Cars        38
1       Motorcycles        13
2            Planes        12
3             Ships         9
4            Trains         3
5  Trucks and Buses        11
6      Vintage Cars        24

In [67]:
temp_query = '''
select 
    ordernumber,
    sum(quantityordered)
from orderdetails
group by 1
Having sum(quantityordered) < 30
order by 2 DESC
'''

query_all_cols = temp_query
df_all_cols = fetch_data_to_dataframe(query_all_cols, "classicmodels")
if df_all_cols is not None:
    print("DataFrame with all columns:")
    print(df_all_cols)

DataFrame with all columns:
   ordernumber sum(quantityordered)
0        10189                   28
1        10277                   28
2        10116                   27
3        10158                   22
4        10144                   20
5        10408                   15